@font-face{
    font-family:'GothamPro';
    src:url(../fonts/GothamPro/GothamProRegular/GothamProRegular.ttf) format('truetype'),
    url(../fonts/GothamPro/GothamProRegular/GothamProRegular.eot) format('eot'),
    url(../fonts/GothamPro/GothamProRegular/GothamProRegular.woff) format('woff');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'GothamProMedium';
    src:url(../fonts/GothamPro/GothamProMedium/GothamProMedium.ttf) format('truetype'),
    url(../fonts/GothamPro/GothamProMedium/GothamProMedium.eot) format('eot'),
    url(../fonts/GothamPro/GothamProMedium/GothamProMedium.woff) format('woff');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'GothamProBold';
    src:url(../fonts/GothamPro/GothamProBold/GothamProBold.ttf) format('truetype'),
    url(../fonts/GothamPro/GothamProBold/GothamProBold.eot) format('eot'),
    url(../fonts/GothamPro/GothamProBold/GothamProBold.woff) format('woff');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'GothamProLight';
    src:url(../fonts/GothamPro/GothamProLight/GothamProLight.ttf) format('truetype'),
    url(../fonts/GothamPro/GothamProLight/GothamProLight.eot) format('eot'),
    url(../fonts/GothamPro/GothamProLight/GothamProLight.woff) format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face{
    font-family:'ProximaNovaRegular';
    src:url(../fonts/ProximaNova/ProximaNova-Regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'ProximaNovaBold';
    src:url(../fonts/ProximaNova/ProximaNova-Bold.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'ProximaNovaMedium';
    src:url(../fonts/ProximaNova/ProximaNova-Medium.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'ProximaNovaLight';
    src:url(../fonts/ProximaNova/ProximaNova-Light.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}

/* @font-face{
    font-family:'ProximaNovaRegular';
    src:url(../fonts/ProximaNova/ProximaNovaRegular/subset-ProximaNova-Regular.ttf) format('truetype'),
    url(../fonts/ProximaNova/ProximaNovaRegular/subset-ProximaNova-Regular.eot) format('eot'),
    url(../fonts/ProximaNova/ProximaNovaRegular/subset-ProximaNova-Regular.woff) format('woff');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'ProximaNovaBold';
    src:url(../fonts/ProximaNova/ProximaNovaBold/subset-ProximaNova-Bold.ttf) format('truetype'),
    url(../fonts/ProximaNova/ProximaNovaBold/subset-ProximaNova-Bold.eot) format('eot'),
    url(../fonts/ProximaNova/ProximaNovaBold/subset-ProximaNova-Bold.woff) format('woff');
    font-weight:normal;
    font-style:normal;
} */

@font-face{
    font-family:'EuropeBold';
    src:url(../fonts/EuropeBold.html) format('truetype'),
    url(../fonts/EuropeBold-2.html) format('eot'),
    url(../fonts/EvropaBold.woff) format('woff');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'EuropeNormal';
    src:url(../fonts/EuropeNormal.ttf) format('truetype'),
    url(../fonts/EuropeNormal.eot) format('eot'),
    url(../fonts/EuropeNormal.woff) format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face{
    font-family:'DinBold';
    src:url(../fonts/DINPro-CondensedBold.ttf) format('truetype'),
    url(../fonts/DINPro-CondensedBold.eot) format('eot'),
    url(../fonts/DINPro-CondensedBold.woff) format('woff');
    font-weight:normal;
    font-style:normal;
}


@font-face{
    font-family:'FreeSet';
    src:url(../fonts/FreeSet/FreeSetCyrillic.ttf) format('truetype'),
    url(../fonts/FreeSet/FreeSetCyrillic.eot) format('eot'),
    url(../fonts/FreeSet/FreeSetCyrillic.woff) format('woff'),
    url(../fonts/FreeSet/FreeSetCyrillic.html) format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face{
    font-family:'FreeSet';
    src:url(../fonts/FreeSet/FreeSetBoldCyrillic.ttf) format('truetype'),
    url(../fonts/FreeSet/FreeSetBoldCyrillic.eot) format('eot'),
    url(../fonts/FreeSet/FreeSetBoldCyrillic.woff) format('woff'),
    url(../fonts/FreeSet/FreeSetBoldCyrillic.html) format('woff2');
    font-weight: bold;
    font-style: normal;
}