.header.scrolled {
	background: #FFF;
}

.section1 {
	background: #fff;
	height: 100vh;
	padding-bottom: 85px;
	min-height: 875px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.main-content {
	padding-top: 75px;
	background: url('../img/gradient.html') center center/cover no-repeat;
	background: -moz-linear-gradient(top, #93c600 0%, #8fc600 0%, #93c600 0%, #8fc600 1%, #90c500 4%, #8dc400 5%, #8dc400 8%, #8ac400 9%, #8dc400 9%, #8ac400 9%, #88c400 12%, #84c200 13%, #84c200 14%, #88c200 14%, #85c300 14%, #88c200 14%, #84c300 15%, #82c100 18%, #7ec100 18%, #82c100 19%, #7ec100 19%, #82c100 19%, #7fc000 19%, #80bf00 21%, #7ec100 21%, #80bf00 21%, #7bbe00 22%, #7ebf00 23%, #7bbe00 23%, #79be00 26%, #74bd00 26%, #78bd00 27%, #74bd00 27%, #79be00 27%, #74bd00 27%, #73bc00 30%, #6fbb00 30%, #73bc00 31%, #6fbb00 31%, #72bb00 32%, #6fba00 32%, #6bb800 37%, #67b800 37%, #6ab900 37%, #67b800 38%, #67b800 39%, #62b700 39%, #62b700 41%, #5fb600 41%, #62b700 41%, #5fb600 41%, #60b700 43%, #5bb400 45%, #5bb400 47%, #57b300 47%, #57b300 48%, #53b300 49%, #57b300 49%, #51b300 49%, #56b300 50%, #51b300 50%, #4eb200 53%, #4ab100 53%, #4ab100 54%, #4eb000 54%, #4ab100 54%, #4bb000 55%, #47af00 56%, #45af00 57%, #41ae00 57%, #41ae00 58%, #45af00 58%, #3fad00 59%, #42ad00 59%, #3eac00 61%, #3aab00 61%, #38aa00 64%, #32a800 65%, #35a800 65%, #30a700 65%, #2ea500 67%, #29a500 67%, #27a300 68%, #29a500 69%, #25a200 70%, #27a300 70%, #23a100 71%, #25a200 72%, #1ea100 72%, #1ba000 72%, #1ba000 73%, #1e9f00 73%, #169e00 74%, #169e00 75%, #199d00 75%, #169e00 76%, #199d00 76%, #0a9d00 76%, #009c00 76%, #0a9d00 77%, #0a9d00 77%, #009c00 77%, #009c00 77%, #0a9d00 77%, #009c00 77%, #008a00 100%, #008b00 100%, #6ab56a 100%);
	background: -webkit-linear-gradient(top, #93c600 0%,#8fc600 0%,#93c600 0%,#8fc600 1%,#90c500 4%,#8dc400 5%,#8dc400 8%,#8ac400 9%,#8dc400 9%,#8ac400 9%,#88c400 12%,#84c200 13%,#84c200 14%,#88c200 14%,#85c300 14%,#88c200 14%,#84c300 15%,#82c100 18%,#7ec100 18%,#82c100 19%,#7ec100 19%,#82c100 19%,#7fc000 19%,#80bf00 21%,#7ec100 21%,#80bf00 21%,#7bbe00 22%,#7ebf00 23%,#7bbe00 23%,#79be00 26%,#74bd00 26%,#78bd00 27%,#74bd00 27%,#79be00 27%,#74bd00 27%,#73bc00 30%,#6fbb00 30%,#73bc00 31%,#6fbb00 31%,#72bb00 32%,#6fba00 32%,#6bb800 37%,#67b800 37%,#6ab900 37%,#67b800 38%,#67b800 39%,#62b700 39%,#62b700 41%,#5fb600 41%,#62b700 41%,#5fb600 41%,#60b700 43%,#5bb400 45%,#5bb400 47%,#57b300 47%,#57b300 48%,#53b300 49%,#57b300 49%,#51b300 49%,#56b300 50%,#51b300 50%,#4eb200 53%,#4ab100 53%,#4ab100 54%,#4eb000 54%,#4ab100 54%,#4bb000 55%,#47af00 56%,#45af00 57%,#41ae00 57%,#41ae00 58%,#45af00 58%,#3fad00 59%,#42ad00 59%,#3eac00 61%,#3aab00 61%,#38aa00 64%,#32a800 65%,#35a800 65%,#30a700 65%,#2ea500 67%,#29a500 67%,#27a300 68%,#29a500 69%,#25a200 70%,#27a300 70%,#23a100 71%,#25a200 72%,#1ea100 72%,#1ba000 72%,#1ba000 73%,#1e9f00 73%,#169e00 74%,#169e00 75%,#199d00 75%,#169e00 76%,#199d00 76%,#0a9d00 76%,#009c00 76%,#0a9d00 77%,#0a9d00 77%,#009c00 77%,#009c00 77%,#0a9d00 77%,#009c00 77%,#008a00 100%,#008b00 100%,#6ab56a 100%);
	background: linear-gradient(to bottom, #93c600 0%,#8fc600 0%,#93c600 0%,#8fc600 1%,#90c500 4%,#8dc400 5%,#8dc400 8%,#8ac400 9%,#8dc400 9%,#8ac400 9%,#88c400 12%,#84c200 13%,#84c200 14%,#88c200 14%,#85c300 14%,#88c200 14%,#84c300 15%,#82c100 18%,#7ec100 18%,#82c100 19%,#7ec100 19%,#82c100 19%,#7fc000 19%,#80bf00 21%,#7ec100 21%,#80bf00 21%,#7bbe00 22%,#7ebf00 23%,#7bbe00 23%,#79be00 26%,#74bd00 26%,#78bd00 27%,#74bd00 27%,#79be00 27%,#74bd00 27%,#73bc00 30%,#6fbb00 30%,#73bc00 31%,#6fbb00 31%,#72bb00 32%,#6fba00 32%,#6bb800 37%,#67b800 37%,#6ab900 37%,#67b800 38%,#67b800 39%,#62b700 39%,#62b700 41%,#5fb600 41%,#62b700 41%,#5fb600 41%,#60b700 43%,#5bb400 45%,#5bb400 47%,#57b300 47%,#57b300 48%,#53b300 49%,#57b300 49%,#51b300 49%,#56b300 50%,#51b300 50%,#4eb200 53%,#4ab100 53%,#4ab100 54%,#4eb000 54%,#4ab100 54%,#4bb000 55%,#47af00 56%,#45af00 57%,#41ae00 57%,#41ae00 58%,#45af00 58%,#3fad00 59%,#42ad00 59%,#3eac00 61%,#3aab00 61%,#38aa00 64%,#32a800 65%,#35a800 65%,#30a700 65%,#2ea500 67%,#29a500 67%,#27a300 68%,#29a500 69%,#25a200 70%,#27a300 70%,#23a100 71%,#25a200 72%,#1ea100 72%,#1ba000 72%,#1ba000 73%,#1e9f00 73%,#169e00 74%,#169e00 75%,#199d00 75%,#169e00 76%,#199d00 76%,#0a9d00 76%,#009c00 76%,#0a9d00 77%,#0a9d00 77%,#009c00 77%,#009c00 77%,#0a9d00 77%,#009c00 77%,#008a00 100%,#008b00 100%,#6ab56a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93c600', endColorstr='#6ab56a',GradientType=0 );
}

.main-titles {
	letter-spacing: -0.5px;
}

.main-title {
	color: #424242;
	font-size: 95.6px;
	line-height: 1;
	margin-bottom: 30px;
	font-family: DinBold;
	text-transform: uppercase;
	word-spacing: -5px;
	margin-top: 60px;
	float: left;
}

.main-subtitle {
	color: #FFF;
	font-size: 56.4px;
	font-family: DinBold;
	line-height: 1;
	word-spacing: -1px;
	float: left;
}

.main-titles img {
	float: right;
	margin-bottom: -60px;
}

.main__license {
	font-size: 19.7px;
	color: #898989;
	font-family: DinBold;
	line-height: 1;
	margin-top: 5px;
}

.main__foter {
	padding-top: 85px;
}

.mon1 {
	width: 100%;
	padding-left: 0;
	background: #387b23;
	box-sizing: border-box;
	padding: 30px 20px 50px;
	color: #fff;
	height: auto!important;
	margin: 0 auto;
	max-width: 500px;
}

.fancybox-close-small svg {
	stroke: #fff;
}

.main__btn {
	font-size: 19px;
	padding: 0 40px;
	height: 50px;
	border: none;
	cursor: pointer;
	color: #fff;
	border-radius: 50px;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	margin-right: 30px;
}

.main__btn:focus {
	outline: 0;
}

.main__btn:hover {
	-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

.btn_color_green {
	background: #4b950d;
}

.btn_color_green_light {
	background: #9fc428;
}

.col-6 {
	width: 50%;
	float: left;
}

.main__footer {
	margin-top: 80px;
}

.rc2::after {
	content: '';
	position: static;
	background: url('../img/main-shield.png') top center/contain no-repeat;
	width: 280px;
	height: 350px;
	margin: 0 auto;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.art {
	background: #fff url('../img/art-bg.jpg') center center/cover no-repeat;
	padding: 50px 20px;
}

.art__content {
	margin-top: 30px;
}

.art-title {
	color: #424242;
	font-size: 59.5px;
	line-height: 1;
	margin: 25px 0;
	font-family: Arial;
	font-weight: bold;
	text-transform: uppercase;
	/* word-spacing: -5px; */
	color: #8bb63c;
}

.art-thintitle {
	font-size: 20px;
	font-family: Arial;
	color: #fff;
	font-weight: 400;
}

.art__more {
	margin-top: 30px;
	color: #8bb63c;
	display: inline-block;
	border-bottom: 1px solid #8bb63c;
	font-family: Arial;
	font-size: 20px;
}

.art__form-title {
	font-size: 30px;
	font-family: Arial;
	font-weight: bold;
	margin-bottom: 40px;
	color: #FFF;
	text-align: center;
}

.art__form {
	max-width: 470px;
	border: 3px solid #fff;
	padding: 40px 50px 20px;
	margin-left: auto;
}

.art__form input {
	float: none;
	margin-bottom: 20px;
}

.mons-form .art__btn {
	height: 47px;
	max-width: 161px;
	margin: 50px auto 0;
	border-radius: 50px;
	color: #fff;
	display: block;
	border: none;
	background: #8bb63c;
	font-size: 16px;
	cursor: pointer;
	position: static;
}

.mons-form .art__btn:hover {
	background: #8bb63c;
}

.art__btn:focus {
	outline: 0;
}

.art__add {
	font-size: 20px;
	padding: 0 20px;
	color: #4b950d;
}

.mons-form button {
	margin: auto;
	top: 20px;
}

.bond-pop-up {
	max-width: 700px;
	font-size: 18px;
}

@media screen and (max-width: 1025px){
	.section1 {
		height: auto;
		min-height: 0;
	}

	.main-content {
		padding-left: 20px;
	}

	.main-title {
		font-size: 71.6px;
	}

	.main-subtitle {
		font-size: 45.4px;
	}

	.main-titles img {
		max-width: 360px;
		padding-right: 10px;
	}

	.main__footer .col-6 {
		width: 100%;
		float: none;
		text-align: center;
	}

	.rc1,
	.rc2 {
		width: 50%;
	}

	.art-title {
		font-size: 44.5px;
	}

	.md-no-br br {
		display: none;
	}

}

@media (max-width: 892px) {
	.main-content {
		padding: 25px 20px 0;
		text-align: center;
	}

	.main-titles {
		margin-bottom: 0;
	}

	.main-title {
		margin-top: 25px;
		float: none;
	}

	.main-subtitle {
		float: none;
		color: #424241;
		position: relative;
		top: 190px;
	}

	.main-titles img {
		float: none;
		max-width: 90%;
		margin-bottom: -160px;
		padding-right: 0;
	}

	.main__footer {
		margin-top: 240px;
	}

	.main__btn {
		margin: auto;
	}

	.main__license,
	.go-bottom {
		display: none;
	}

	.art-title {
		font-size: 37.6px;
	}

}


@media (max-width: 767px) {
	.main-title {
		font-size: 51.6px;
	}

	.main-subtitle {
		font-size: 30.4px;
	}

	.rc1, .rc2 {
		width: 100%;
	}

	.rc2 {
		min-height: 0;
		margin-top: 50px;
	}

	.section3 {
		padding: 30px 0;
	}

	.zigzag {
		padding: 85px 0 70px;
	}

	.section5 {
		padding-top: 30px;
	}

	.about-content {
		margin-bottom: 15px;
	}
	
	.art .col-6 {
		width: 100%;
	}

	.art__form {
		margin-right: auto;
		margin-top: 70px;
		padding-left: 35px;
		padding-right: 35px;
	}

	.art {
		background-image: url('../img/art-bg_mobile.jpg');
	}

	.art__form-title {
		font-size: 16px;
	}

}

@media (max-width: 400px) {
	.art-title {
		font-size: 30px;
	}
}