.clearfix {
	clear: both;
}

#aboutbond {
	padding-top: 0 !important;
}

.about_content {
	position: relative;
	overflow: hidden;
	padding-top: 140px;
	padding-bottom: 180px;
}

.about_content .wrapper {
	max-width: 1030px;
}

.about__image_left {
	position: absolute;
	top: 0;
	left: -10%;
	height: 81%;
}

.about__image_bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}

.about_1 {
	float: left;
	color: #fff;
	text-transform: uppercase;
	/* background: #2d7d2f; */
}

.about_1 .rc-podrobno {
	position: relative;
	right: 0;
	margin-top: 20px;
}

.about_1 .rc-podrobno span {
	font-size: 16px;
}

.about_1 .rc-podrobno a p::before {
	background: url('../img/play.png');
	height: 32px;
	width: 32px;
	background-repeat: no-repeat;
}

.about_title {
	font-size: 48px;
	font-family: ProximaNovaBold;
	position: relative;
	z-index: 2;
}

.about_subtitle {
	font-size: 36px;
	font-family: ProximaNovaRegular;
	position: relative;
	z-index: 2;
}

.about_2,
.about_3 {
	float: right;
}

.about_2_content {
	max-width: 440px;
	font-size: 18px;
	color: #515151;
	font-family: ProximaNovaRegular;
	position: relative;
	z-index: 2;
	text-align: left;
	display: inline-block;
	padding: 0 20px;
}

.about_3_content {
	max-width: 440px;
	padding: 0 20px;
	margin: auto;
}

.about_2 .heading span {
	text-align: left;
}

.about_2-text {
	position: relative;
}

.paper_plane {
	position: absolute;
	top: 100%;
	right: 0;
	z-index: -1;
}

.about_3 .rc-podrobno {
	position: relative;
	color: #272727;
	margin-top: 90px;
	margin-right: 70px;
	right: 0;
}

.about_advantage {
	background: #f1f1f1;
}

.about_advantage .wrapper {
	max-width: 1000px;
}

.about_advantage .heading {
	margin-top: -15px;
}

.advantages__list {
	margin-top: 115px;
}

.advantages__items {
	width: 50%;
	float: left;
	margin-bottom: 100px;
}

.advantages__content_right {
	float: right;
}

.advantages__items::before,
.advantages__items::after {
	content: '';
	clear: both;
}

.advantage__img {
	width: 100px;
	height: 100px;
	float: left;
}

.advantages__items p {
	padding-top: 15px;
	font-size: 16px;
	line-height: 1.375;
	float: left;
	width: 310px;
}

.mr15 {
	margin-right: 15px;
}

.about_safety {
	background: #f1f1f1 url('../svg/safety_bottom.svg') center bottom/100% auto no-repeat;
	padding-top: 70px;
	padding-bottom: 290px;
}

.about_safety .heading {
	margin-bottom: 75px;
}

.about_safety .wrapper {
	max-width: 1000px;
}

.safety-content {
	width: 40%;
	float: left;
}

.safety-content p {
	max-width: 310px;
	font-size: 18px;
	color: #515151;
}

.safety-graph {
	width: 60%;
	float: left;
}

.graph1 {
	background: #72bf44;
	height: 32px;
	width: 0;
	max-width: 45%;
	border-radius: 0 32px 32px 0;
	position: relative;
	margin: 6px 0 86px;
}

.graph1::before {
	content: attr(data-title);
	position: absolute;
	bottom: -38px;
	left: 14px;
	font-size: 18px;
	color: #515151;
	white-space: nowrap;
}

.graph-value {
	width: 91px;
	height: 76px;
	background: url('../img/graph-cloud.png') 0 0 no-repeat;
	position: absolute;
	right: -106px;
	top: -22px;
	font-family: ProximaNovaBold;
	font-size: 18px;
	padding-left: 30px;
	padding-top: 20px;
	line-height: 1.1;
}

.graph2 {
	background: #2d7d2f;
	height: 32px;
	width: 0;
	max-width: 78.33%;
	border-radius: 0 32px 32px 0;
	position: relative;
	margin-bottom: 90px;
}

.graph2::before {
	content: attr(data-title);
	position: absolute;
	bottom: -43px;
	left: 14px;
	font-size: 18px;
	color: #515151;
	white-space: nowrap;
}

.graph1 .graph-value {
	padding-left: 33px;
}

.graph2 .graph-value {
	padding-left: 30px;
}

.about_numbers {
	background-color: #ebebeb;
	padding-bottom: 240px;
}

.country {
	width: 50%;
	float: left;
}

.country1 {
	text-align: right;
	padding-right: 60px;
}

.country2 {
	text-align: left;
	padding-left: 60px;
}

.country_sphere {
	width: 267px;
	height: 267px;
	position: relative;
	display: inline-block;
}

.country_sphere img {
	max-width: 100%;
	position: relative;
	z-index: 5;
}

.country-sphere-mobile { display: none; }

.country_content {
	position: absolute;
	top: 29.5%;
	right: 17px;
	text-align: left;
	z-index: 6;
	color: #515151;
}

.country_content h4 {
	font-size: 24px;
	line-height: 0.917;
	font-family: ProximaNovaBold;
	margin-bottom: 7px;
}

.country_content pre {
	font-size: 16px;
	line-height: 1.375;
	font-family: ProximaNovaRegular;
}

.logos-wrapper {
	position: absolute;
	width: 116px;
	height: 116px;
}

.logos-wrapper img {
	max-width: 100%;
	cursor: pointer;
}

.logos-wrapper img:hover {
	-webkit-animation: pulse 1s infinite !important;
	-o-animation: pulse 1s infinite !important;
	animation: pulse 1s infinite !important;
}

.logos-wrapper::after {
	content: '';
	width: 180px;
	height: 1px;
	display: block;
	position: absolute;
	background-color: #bdbdbd;
}

.kz-logo-mob { display: none; }

.country1 .country-logos-list .logos-wrapper:first-child {
	top: -170px;
	right: 47px;
}

.country1 .country-logos-list .logos-wrapper:nth-child(2) {
	top: -127px;
	left: -118px;
}

.country1 .country-logos-list .logos-wrapper:nth-child(3) {
	top: 80px;
	left: -220px;
}

.country1 .country-logos-list .logos-wrapper:nth-child(4) {
	bottom: -128px;
	left: -120px;
}

.country1 .country-logos-list .logos-wrapper:nth-child(5) {
	bottom: -165px;
	right: 47px;
}

.country1 .country-logos-list .logos-wrapper:first-child::after {
	-webkit-transform: rotate(99deg);
	-ms-transform: rotate(99deg);
	-o-transform: rotate(99deg);
	transform: rotate(99deg);
	top: 100%;
	right: -20px;
}

.country1 .country-logos-list .logos-wrapper:nth-child(2)::after {
	-webkit-transform: rotate(46deg);
	-ms-transform: rotate(46deg);
	-o-transform: rotate(46deg);
	transform: rotate(46deg);
	top: 100%;
	left: 20%;
}

.country1 .country-logos-list .logos-wrapper:nth-child(3)::after {
	top: 50%;
	left: 80%;
}

.country1 .country-logos-list .logos-wrapper:nth-child(4)::after {
	-webkit-transform: rotate(-41deg);
	-ms-transform: rotate(-41deg);
	-o-transform: rotate(-41deg);
	transform: rotate(-41deg);
	bottom: 100%;
	left: 20%;
}

.country1 .country-logos-list .logos-wrapper:nth-child(5)::after {
	-webkit-transform: rotate(83deg);
	-ms-transform: rotate(83deg);
	-o-transform: rotate(83deg);
	transform: rotate(83deg);
	bottom: 100%;
	left: -30%;
}

.country2 .country-logos-list .logos-wrapper:first-child {
	top: -170px;
	left: 47px;
}

.country2 .country-logos-list .logos-wrapper:nth-child(2) {
	top: -127px;
	right: -118px;
}

.country2 .country-logos-list .logos-wrapper:nth-child(3) {
	top: 80px;
	right: -220px;
}

.country2 .country-logos-list .logos-wrapper:nth-child(4) {
	bottom: -128px;
	right: -120px;
}

.country2 .country-logos-list .logos-wrapper:nth-child(5) {
	bottom: -165px;
	left: 47px;
}

.country2 .country-logos-list .logos-wrapper:first-child::after {
	-webkit-transform: rotate(-99deg);
	-ms-transform: rotate(-99deg);
	-o-transform: rotate(-99deg);
	transform: rotate(-99deg);
	top: 100%;
	left: -20px;
}

.country2 .country-logos-list .logos-wrapper:nth-child(2)::after {
	-webkit-transform: rotate(-46deg);
	-ms-transform: rotate(-46deg);
	-o-transform: rotate(-46deg);
	transform: rotate(-46deg);
	top: 100%;
	right: 20%;
}

.country2 .country-logos-list .logos-wrapper:nth-child(3)::after {
	top: 50%;
	right: 80%;
}

.country2 .country-logos-list .logos-wrapper:nth-child(4)::after {
	-webkit-transform: rotate(41deg);
	-ms-transform: rotate(41deg);
	-o-transform: rotate(41deg);
	transform: rotate(41deg);
	bottom: 100%;
	right: 20%;
}

.country2 .country-logos-list .logos-wrapper:nth-child(5)::after {
	-webkit-transform: rotate(-83deg);
	-ms-transform: rotate(-83deg);
	-o-transform: rotate(-83deg);
	transform: rotate(-83deg);
	bottom: 100%;
	right: -30%;
}

.about_benefit {
	background-color: #ebebeb;
	padding-top: 80px;
	padding-bottom: 120px;
}

.about_benefit .heading {
	margin-bottom: 0;
}

.benefit {
	float: left;
}

.benefit img {
	max-width: 100%;
	height: auto;
}

.benefit1 {
	padding-left: 9%;
	width: 56%;
	margin-top: 65px;
}

.benefit2 {
	width: 44%;
}

.benefit1 p {
	font-size: 18px;
	line-height: 1.333;
	color: #515151;
	font-family: ProximaNovaRegular;
}


@keyframes graph {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

.graph {
	-webkit-animation-name: graph;
	-o-animation-name: graph;
	animation-name: graph;
	-webkit-animation-duration: 1.5s;
	-o-animation-duration: 1.5s;
	animation-duration: 1.5s;
}

.fancybox-slide--html {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.monters-popup-button { display: none; }

@media screen and (max-width: 1025px) {
	.monters-popup-button {
		display: block;
		width: 100%;
		margin: -80px auto 0;
		cursor: pointer;
		background: #f9b000;
		border: none;
		font-size: 13px;
		color: #fff;
		border-radius: 40px;
		height: 35px;
		max-width: 160px;
	}

	.section1 { min-height: 0; }
	.section1 .wrapper { padding: 0; }

	.mon1 .fancybox-close-small svg { stroke: #fff; }

	.monster-popup-button-wrapper {
		float: left;
		width: 100%;
		position: relative;
		z-index: 50;
	}

	.monters-popup-button:focus { outline: 0; }

	.about_content {
		padding: 0px 0 205px;
	}

	.about_advantage .heading {
		margin-top: 15px;
	}

	.advantages__list {
		margin-top: 55px;
	}

	.advantages__content_right {
		float: none;
	}

	.safety-content,
	.safety-graph {
		width: 100%;
		float: none;
	}

	.safety-graph {
		margin-top: 50px;
	}
	
	.about_safety {
		padding-bottom: 190px;
	}

	.benefit1 {
		width: 100%;
		padding-left: 0;
		margin-top: 32px;
	}

	.benefit2 {
		width: 100%;
		text-align: center;
		margin-top: 50px;
	}

	.country {
		padding: 0;
		text-align: center;
		width: 100%;
	}

	.country .country-logos-list .logos-wrapper:first-child {
		top: auto;
		left: auto;
		bottom: 0;
		right: -156px;
	}

	.country .country-logos-list .logos-wrapper:nth-child(2) {
		top: -66px;
		right: -123px;
		left: auto;
	}

	.country .country-logos-list .logos-wrapper:nth-child(3) {
		top: -155px;
		right: 75px;
		left: auto;
	}

	.country .country-logos-list .logos-wrapper:nth-child(4) {
		top: -66px;
		left: -123px;
		right: auto;
	}

	.country .country-logos-list .logos-wrapper:nth-child(5) {
		top: auto;
		right: auto;
		bottom: 0;
		left: -156px;
	}
	
	.country .country-logos-list .logos-wrapper:first-child::after {
		-webkit-transform: rotate(25deg);
		-ms-transform: rotate(25deg);
		-o-transform: rotate(25deg);
		transform: rotate(25deg);
		top: 28%;
		left: -100px;
		right: auto;
	}

	.country .country-logos-list .logos-wrapper:nth-child(2)::after {
		-webkit-transform: rotate(-46deg);
		-ms-transform: rotate(-46deg);
		-o-transform: rotate(-46deg);
		transform: rotate(-46deg);
		top: 100%;
		left: -70%;
	}

	.country .country-logos-list .logos-wrapper:nth-child(3)::after {
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
		top: 100%;
		left: -28%;
	}

	.country .country-logos-list .logos-wrapper:nth-child(4)::after {
		-webkit-transform: rotate(46deg);
		-ms-transform: rotate(46deg);
		-o-transform: rotate(46deg);
		transform: rotate(46deg);
		bottom: 0;
		left: 20%;
	}

	.country .country-logos-list .logos-wrapper:nth-child(5)::after {
		-webkit-transform: rotate(-25deg);
		-ms-transform: rotate(-25deg);
		-o-transform: rotate(-25deg);
		transform: rotate(-25deg);
		bottom: auto;
		top: 28%;
		left: 30%;
	}

	.country1 {
		margin-bottom: 235px;
	}

	.about_numbers {
		padding-bottom: 130px;
	}

	.advantages__items {
/* 		width: 100%;
		float: none; */
		margin-bottom: 60px;
	}

	.about_content .row {
		padding: 0;
	}

	.about__image_left {
		display: none;
	}

	.about_1 {
		float: none;
		text-align: center;
		background: #2d7d2f;
		padding: 85px 0 25px;
		position: relative;
	}

	.about_1::after {
		content: ''; 
		position: absolute;
		left: calc((100% - 520px)/2);
		top: 100%;
		border: 260px solid transparent;
		border-top: 116px solid #2d7d2f;
	}

	.about_2 {
		float: none;
		text-align: center;
		padding-top: 180px;
	}
	.about_3 {
		float: none;
		text-align: center;
	}

	.about_3 .rc-podrobno {
		margin-right: auto;
		text-align: left;
	}

	.smi-content, .tablica {
		padding-bottom: 55px;
	}

	.section4 { padding: 0; }

	.list-head { margin-bottom: 45px; }

}

@media (max-width: 1025px) and (orientation: portrait) {
	.monsters {
		height: auto!important;
		min-height: 735px;
	}
}

@media (max-width: 892px) {
	.advantages__items {
		width: 100%;
		float: none;
	}
	.spy-words {
		margin-left: -30px;
	}
}

@media screen and (min-width: 1800px) {
	.about_content {
		padding-bottom: 255px;
	}

	.about_numbers {
		padding-top: 60px;
	}

	.about__image_left {
		left: 0%!important;
		height: 90%;
	}

	.about_safety {
		padding-bottom: 16%;
	}

	.countrys-list {
		margin-top: -10%;
	}

}

@media screen and (min-width: 2400px) {
	.about_content {
		padding-top: 255px;
		padding-bottom: 355px;
	}
}