/*DEFAULT CONFIGURATION*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GoodPro', Arial;
}
body{
    font-size: 14px;
    color: #0a0a0a;
    background: #fff;
}
a{
    text-decoration: none;
    color: inherit;
}
a:focus{
    outline: none;
}
.wrapper{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.wrapper::after,
.row::after{
    content: '';
    display: block;
    clear: both;
}
.input1::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
.input1::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
.input1:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
.input1:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
.input1:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.input1:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.input1:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.input1:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
.input2::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.5s ease;}
.input2::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.5s ease;}
.input2:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.5s ease;}
.input2:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.5s ease;}
.input2:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.5s ease;}
.input2:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.5s ease;}
.input2:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.5s ease;}
.input2:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.5s ease;}
.row{
    width: 100%;
    float: left;
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none;
}
.table-cell{
    display: table-cell;
    vertical-align: middle;
}
.owl-carousel{
    display: block;
}
header,
section,
footer{
    width: 100%;
    float: left;
}

.hfield {
    visibility: hidden;
    height: 0;
    position: relative;
}

/*MAIN STYLE*/

.header-row{
    width: 100%;
    float: left;
    display: table;
    height: 75px;
}
.header{
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 100;
    color: #fff;
    background: linear-gradient(to bottom, #000, transparent);
    transition: 0.25s ease;
    transform: translate3d(0,0,0);
}
.logo{
    display: inline-block;
    vertical-align: middle;
    margin-right: 0;
}
.logo a{
    display: inline-block;
    vertical-align: middle;
}
.logo a span{
    display: inline-block;
    vertical-align: middle;
}
.logo a span::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: url(../svg/logo1.svg);
    width: 151px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.menu-list{
    display: inline-block;
    vertical-align: middle;
    margin: 0 0px;
}
.phone{
    float: right;
    display: inline-block;
    vertical-align: middle;
}
.phone a{
    display: inline-block;
    vertical-align: middle;
}
.phone a span{
    display: inline-block;
    vertical-align: middle;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'EuropeNormal';
    color: #69b945;
    position: relative;
}
.phone a span::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: url(../svg/smartphone-call2.svg);
    width: 26px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 10px;
    position: relative;
    top: -2px;
    transition: 0.25s ease;
}
.burger{
    display: inline-block;
    vertical-align: middle;
    display: none;
}
.burger span{
    display: inline-block;
    vertical-align: middle;
}
.burger-menu{
    display: none;
}

#menu li{
    display: inline;
    vertical-align: middle;
    position: relative;
    margin-right: 0px;
    font-size: 	14px;
    line-height: 16px;
}
#menu li::after{
    content: '';
    width: 0;
    height: 1px;
    background: #fff;
    display: block;
    margin-left: -10px;
    position: absolute;
    bottom: -8px;
    transition: width ease 0.4s;
    will-change:width;
}
#menu li.language::after{
    content: none;
}
.header.scrolled #menu li.language::after{
    content: none;
}
#menu li .lang-changer li::after{
    content: none;
}
.header.scrolled #menu li .lang-changer li::after{
    content: none;
}
.header.scrolled #menu li::after{
    content: '';
    width: 0;
    height: 1px;
    background: #000;
    display: block;
    margin-left: -10px;
    position: absolute;
    bottom: -8px;
    transition: width ease 0.4s;
    will-change:width;
}
#menu li:hover::after,
#menu li.active::after{
    content: '';
    width: calc(100% + 20px);
}
.header.scrolled #menu li:hover::after,
.header.scrolled #menu li.active::after{
    content: '';
    width: calc(100% + 20px);
    background: #000;
}
#menu li.language:hover::after,
#menu li.language.active::after{
    content: none;
}
.header.scrolled #menu li.language:hover::after,
.header.scrolled #menu li.language.active::after{
    content: none;
}
#menu li:last-child{
    margin-right: 0;
}
.header.scrolled{
    color: #0a0a0a;
    background: rgba(255,255,255, 0.8);
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.05);

}
.header.scrolled .phone a span::before{
    background: url(../svg/smartphone-call.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.header.scrolled .logo a span::before{
    background: url(../svg/logo2.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.header.scrolled #menu li.active::after{
    background: #000;
}

.section1 {
    width: 100%;
}

.effect-h{
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 30px;
    padding-left: 75px;
}
.effect-h img{
    max-height: 60px;
    height: 100%;
    width: auto;
    display: inline-block;
}
.monsters{
    width: 100%;
    float: left;
    color: #fff;
    user-select: none
}
.mon1{
    width: 34%;
    float: left;
    box-sizing: border-box;
    padding-left: 70px;
}
.mon2{
    width: 41%;
    float: left;
    text-align: center;
    position: relative;
    z-index: 5;
}
.mon2:hover .grab {
    opacity: 1;
}
.mon2:active .grab {
    opacity: 1;
}
.mon2.curs {
    cursor: url(../img/grab.png), auto;
}
#draggable.no-action .grab {
    display:none!important;
}
#draggable.no-action {
    cursor:default;
}
.mon3{
    width: 25%;
    float: left;
    position: relative;
    z-index: 2;
    height: 100%;
}
.nurtas{
    position: relative;
}
.nurtas img{
    max-width: 350px;
    width: 100%;
}
.percent{
    width: 100%;
    float: left;
    margin-bottom: 30px;
}
.grab{
    position: absolute;
    left: 100%;
    margin: auto;
    bottom: 50%;
}
.grab img{
    width: 40px;
    height: 40px;
    position: absolute;
}
.holder2{
    display: none;
}
.to-next{
    width: 100%;
    position: absolute;
    bottom : 20px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    z-index: 10;
    height: 0;
}
.percent span{
    display: inline-block;
    vertical-align: middle;
    font-size: 75px;
    margin-right: 0px;
}
.percent p{
    /* display: inline-block; */
    vertical-align: middle;
    font-size: 28px;
    width: 250px;
}
.per-text{
    margin-bottom: 30px;
    width: 100%;
    float: left;
}
.per-text span{
    font-size: 15px;
    text-transform: uppercase;
    line-height: 23px;
}
.mons-form{
    max-width: 100%;
    width: 100%;
    float: left;
}
.mons-form span{
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
}
.mons-form input::placeholder{
    color: #fff;
}
.mons-form input{
    width: 100%;
    float: left;
    display: block;
    margin-bottom: 10px;
    border: none;
    outline: none;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    background: transparent;
    box-sizing: border-box;
    padding: 7px 0;
    color: #fff;
    font-size: 14px;
}
.mons-form button{
    width: 100%;
    max-width: 125px;
    border: none;
    outline: none;
    background: #f9b000;
    box-sizing: border-box;
    border: 1px solid #f9b000;
    border-radius: 40px;
    color: #fff;
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
    display: block;
    cursor: pointer;
    transition: 0.3s ease;
    position: relative;
    top: 10px;
}
.mons-form button:hover{
    border-color: #f38200;
    background: #f38200;
}

.type1{
    position: absolute;
    top: 0px;
    right: -60px;
}
.type1-desc{
    position: absolute;
    top: -80px;
    left: 30px;
}
.type2{
    position: absolute;
    top: 30px;
    left: -50px;
}
.type2-desc{
    position: absolute;
    top: -50px;
    left: -30px;
}
.type3{
    position: absolute;
    top: 230px;
    left: 0;
}
.type3-desc{
    position: absolute;
    top: 170px;
    left: 120px;
}
.shines{
    position: absolute;
    z-index: 15;
    top: 0;
    user-select: none;
    opacity: 0.7;
}
.shine1{
    position: absolute;
    top: -65px;
    left: 135px;
}
.shine2{
    position: absolute;
    top: -65px;
    left: 135px;
}
.shine3{
    position: absolute;
    top: -65px;
    left: 135px;
}

.section2{
    background-position: 0px 0px;
    background-repeat: repeat-x!important;
    background-size: cover!important;
    width: 100%;
    height: 100%;
    background-image: url(../img/ujas-bg.jpg);
}
.section2 .fp-controlArrow.fp-prev{
    left: 9%;
    background: url(../img/arl.png);
    width: 33px;
    height: 24px;
    border-color: transparent;
    border-width: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.section2 .fp-controlArrow.fp-next{
    right: 9%;
    background: url(../img/arr.png);
    width: 33px;
    height: 24px;
    border-color: transparent;
    border-width: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.section2 .fp-controlArrow{
    margin-top: 50px;
}
.section2 .fp-slidesNav.bottom {
    bottom: 23px;
}
.section2 .fp-slidesNav ul li a.active span{
    background: #f9b000;
}
.section2 .fp-slidesNav ul li{
    margin: 7px 5px;
}
.section2 .fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    height: 12px;
    width: 12px;
    border: 0;
    background: transparent;
    border: 2px solid #f9b000;
    left: 50%;
    top: 50%;
    margin: -6px 0 0 -6px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.section2 .fp-slidesNav ul li:hover a span {
    width: 12px;
    height: 12px;
    margin: -6px 0px 0px -6px;
}
.person-text{
    width: 265px;
    float: right;
    margin-right: 170px;
    text-align: center;
    position: static;
    z-index: 1;
}
.colored-text{
    margin-top: 25px;
    text-align: left;
    width: 100%;
    float: left;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(239,113,18,1);
    -moz-box-shadow: 0px 0px 16px 0px rgba(239,113,18,1);
    box-shadow: 0px 0px 16px 0px rgba(239,113,18,1);
    border-radius: 10px;
}
.slide{
    position: relative;
}
.person1::before{
    content: '';
    display: block;
    background: url(../img/hor.png);
    width: 624px;
    height: 1146px;
    position: absolute;
    left: 135px;
    top: -50px;
    z-index: 0;
}
.person2::before{
    content: '';
    display: block;
    background: url(../img/hor2.png);
    width: 431px;
    height: 1161px;
    position: absolute;
    left: 200px;
    top: -50px;
    z-index: 0;
}
.person3::before{
    content: '';
    display: block;
    background: url(../img/hor3.png);
    width: 398px;
    height: 675px;
    position: absolute;
    left: 220px;
    z-index: 0;
    bottom: -250px;
}
.text-black{
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 30px 20px ;
    border-radius: 10px 10px 0 0;
    background: #252525;
    color: #fff;
    font-size: 14px;
}
.text-black.round{
    border-radius: 10px;
}
.text-orange{
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 15px 20px 15px;
    border-radius:  0 0 10px 10px;
    background: #ef7112;
    color: #fff;
    font-size: 12px;
}
.other-person{
    width: 100%;
    height: 0;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
}
.op1{
    float: left;
}
.op2{
    float: right;
}
/* .other-person img{
	cursor: pointer;
	height: 60px;
	width: auto;
} */
.rewenie-h{
    font-size: 24px;
    text-transform: uppercase;
    color: #515151;
    display: block;
    text-align: center;
    margin-bottom: 75px;
}
.rewenie-content{
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 0 75px;
    position: relative;
}
.rc1{
    width: 50%;
    float: left;
}
.rc2{
    width: 50%;
    float: left;
}
.rc1-h{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.rc1-h span{
    font-size: 18px;
    color: #397b23;
    display: block;
    margin-bottom: 20px;
}
.rc1-h p{
    font-size: 16px;
    color: #515151;
}
.section3{
    overflow: hidden;
    padding: 170px 0 115px;
}
.sec3-1{
    width: 100%;
    float: left;
    box-sizing: border-box;
    position: relative;
}
.rc2::after{
    content: '';
    display: block;
    background: url(../img/na2.png);
    width: 291px;
    height: 561px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    top: 0;
    right: 0;
    z-index: 0;
    transform: scale(1.35);
}


.hide-lee{
    height: 83px;
}

/*TABS*/
.tabs_menu {
    max-width: 430px;
    width: 100%;
    float: left;
    box-sizing: border-box;
    margin-bottom: 40px;
    border: 2px solid #397b23;
    border-radius: 10px;
    overflow: hidden;
}
.tabs_menu li {
    display: block;
    cursor: pointer;
    width: 50%;
    float: left;
    text-align: center;
    vertical-align: middle;
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    color: #397b23;
    box-sizing: border-box;
    padding: 10px 0;
}
.tabs_menu li.active {
    color: #fff;
    cursor: default;
    background: #397b23;
}

.tabs {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 0;
}
.tabs .info{
    display:none;
    width: 100%;
    float: left;
}
.tabs .info.active{
    display:block;
    position: relative;
}
.tabs ul{
    width: 100%;
    float: left;
}
.tab-italic{
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding-left: 25px;
    font-size: 11px;
    font-style: italic;
    display: block;
    margin-top: 20px;
}
.tabs ul li{
    display: block;
    position: relative;
    margin-bottom: 15px;
}
.tabs ul li p{
    font-size: 14px;
    box-sizing: border-box;
    padding-left: 25px;
    line-height: 18px;
}
.tabs ul li p::before{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: #f9b000;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 3px;
}
.tabs ul li p span{
    color: #515151;
}



.spy-words{
    width: 100%;
    float: left;
    margin-left: 50px;
    position: relative;
    z-index: 2;
}
.sw1{
    background: url(../svg/1.svg);
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    position: absolute;
    left: 300px;
    top: 30px;
}
.sw2{
    background: url(../svg/2.svg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    position: absolute;
    left: 275px;
    top: 35px;
}
.sw3{
    background: url(../svg/3.svg);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    position: absolute;
    left: 240px;
    top: 40px;
}

.sw4{
    background: url(../svg/4.svg);
    width: 260px;
    height: 190px;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    text-align: center;
    box-sizing: border-box;
    padding-right: 0;
    padding-top: 60px;
    position: relative;
}
.sw4 span{
    display: inline;
    font-size: 21px;
    color: #515151;
    border-bottom: 1px solid #c8c8c8;
}
.sw4 img{
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}
.rc-podrobno{
    max-width: 265px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    right: 25px;
    z-index: 10;
}
.rc-podrobno a{
    width: 100%;
    display: block;
    background: #f9b000;
    box-sizing: border-box;
    padding: 15px 20px;
    border-radius: 40px;
    transition: 0.4s ease;
}
.rc-podrobno a:hover{
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}
.rc-podrobno a span{
    width: 170px;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
}
.rc-podrobno a p{
    width: 45px;
    display: inline-block;
    vertical-align: middle;
}
.rc-podrobno a p::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: url(../img/download.png);
    width: 29px;
    height: 29px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 15px;
}
.section4{
    box-sizing: border-box;
    height: 100%;
    position: relative;
    background-color: #fcb529;
    background-image: url(../img/list12.png);
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: left center;
    overflow: hidden;
    padding: 170px 0 155px;
}
.section4::after{
    content: '';
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #fcb529;
    background: url(../img/smart.png);
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center;
    z-index: 0;
}

.sec3-2{
    width: 100%;
    float: left;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}
.list1{
    width: 50%;
    float: left;
    color: #fff;
}
.underlined{
    text-decoration: underline;
}
.underlined:hover{
    text-decoration: none;
}
.list2{
    width: 50%;
    float: left;
    color: #0a0a0a;
    box-sizing: border-box;
    padding-left: 150px;
}
.sec3-2-content{
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 0 75px;
}
.list-head{
    font-size: 20px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 75px;
}
.list1 .list-ul{
    max-width: 350px;
    width: 100%;
    float: left;
}
.list-ul li{
    display: block;
    margin-bottom: 15px;
    position: relative;
}
.list-ul li p{
    box-sizing: border-box;
    padding-left: 40px;
    font-size: 16px;
    line-height: 24px;
}
.list-ul li p span{

}
.list1 .list-ul li p::before{
    content: '';
    display: block;
    background: url(../img/check.png);
    width: 21px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 5px;
}

.list2 .list-ul{
    max-width: 350px;
    width: 100%;
    float: left;
    box-sizing: border-box;
    margin-top: 0px;
}
.list2 .list-ul li p::before{
    content: '';
    display: block;
    background: url(../img/close.png);
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 5px;
}

.sec3-3{
    width: 100%;
    float: left;
    box-sizing: border-box;
    /* padding: 25px 0px 0px; */
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.invest-h{
    font-size: 24px;
    text-transform: uppercase;
    color: #515151;
    display: block;
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 90px;
}
.bonds-lists{
    width: 100%;
    float: left;
    margin-bottom: 60px;
}
.bonds-list{
    width: 325px;
    float: left;
    margin-right: 150px;
}
.invest-scroll-area{
    width: 100%;
    overflow: hidden;
    float: left;
}
.invest{
    width: 2400px;
    float: left;
}
.invest-form{
    width: 300px;
    float: left;
}
#slider-range{
    width: 100%;
    float: left;
}
.b-step{
    font-size: 25px;
    color: #515151;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    display: block;
    margin-bottom: 15px;
}
.b-s4et{
    font-size: 18px;
    display: block;
    color: #515151;
    margin-bottom: 20px;
}
.bonds-list p{
    font-size: 14px;
    color: #515151;
    line-height: 18px;
}
.bonds-list p span{


}
.invest-form{
    width: 400px;
    float: left;
    box-sizing: border-box;
    padding: 0 50px;
    position: relative;
    top: -115px;
}
.invest-form span{
    font-size: 24px;
    text-transform: uppercase;
    color: #515151;
    display: block;
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 50px;
}
.invest-form input{
    width: 100%;
    float: left;
    border: none;
    outline: none;
    border-bottom: 1px solid #383838;
    font-size: 13px;
    color: #515151;
    background: transparent;
    box-sizing: border-box;
    padding: 10px 0;
    margin-bottom: 15px;
}
.invest-form button{
    border: none;
    outline: none;
    display: block;
    max-width: 155px;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: #fff;
    background: #397b23;
    border-radius: 40px;
    box-sizing: border-box;
    padding: 14px 0;
    margin: auto;
    cursor: pointer;
    position: relative;
    top: 35px;
    transition: 0.4s ease;
}
.invest-form button:hover{
    background: #f9b000;
}

.push{
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: #387b23;
    display: table;
    color: #fff;
    box-sizing: border-box;
    display: table;
}
.popup1{
    display: none;
}
.hidden-popup-img{
    opacity: 0;
    height: 0;
    width: 0;
}

.thank{
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 0 100px;
}
.thank1{
    width: 50%;
    float: left;
}
.thank2{
    width: 50%;
    float: left;
    position: relative;
}
.thank2::after{
    content: '';
    display: block;
    background: url(../img/main-shield.png);
    width: 100%;
    height: 530px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    top: -200px;
}

.push span{
    font-size: 36px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 30px;
}
.push p{
    font-size: 28px;
    display: block;
    margin-bottom: 50px;
}
.push a{
    display: block;
    max-width: 155px;
    width: 100%;
    background: #f9b000;
    box-sizing: border-box;
    padding: 14px 0;
    text-align: center;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.4s ease;
}
.push a:hover{
    background: #f38200;
}
.heading{
    width: 100%;
    float: left;
    margin-bottom: 35px;
    position: relative;
    z-index: 3;
}
.heading span{
    font-size: 24px;
    text-transform: uppercase;
    color: #515151;
    display: block;
    width: 100%;
    float: left;
    text-align: center;
}
.about{
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 0px 0px;
}
.about-content{
    width: 100%;
    float: left;
    margin-bottom: 95px;
}
.about-text{
    width: 100%;
    float: left;
    margin-top: 40px;
}
.about-text p{
    font-size: 16px;
    line-height: 20px;
}
.about-text p span{
    color: #397b23;
    display: inline;
    border-bottom: 1px solid #a8c59e;
}
.about-list{
    width: 100%;
    float: left;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
}
.al-inner{
    width: 33.33%;
    float: left;
    padding-right: 60px;
    box-sizing: border-box;
    margin-bottom: 75px;
}
.al-img{
    width: 100%;
    float: left;
    min-height: 45px;
    margin-bottom: 10px;
}
.al-inner p{
    font-size: 16px;
    color: #515151;
    line-height: 20px;
}
.al-inner p span{

}
.nadej{
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 45px 170px;
}
.license{
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 0px 170px 45px;
}
.licenses{
    width: 100%;
    float: left;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}
.lic-every{
    width: 25%;
    float: left;
    text-align: center;
    margin-bottom: 60px;
}
.lic-every img{
    max-height: 160px;
    height: 100%;
    width: auto;
}
.partners{
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 0 0px;
    margin-bottom: 100px;
}
/* .question.fp-section.fp-table{
	height: auto!important;
	display: block;
	min-height: auto!important;
	width: 100%;
	float: left;
	padding-bottom: 100px!important;
}
.question .fp-tableCell{
	width: 100%;
	float: left;
	display: block;
	height: auto!important;
}
.section6.fp-section.fp-table{
	height: auto!important;
	display: block;
	min-height: auto!important;
	width: 100%;
	float: left;
	padding: 75px 0!important;
}
.section6 .fp-tableCell{
	width: 100%;
	float: left;
	display: block;
	height: auto!important;
}
.tablica.fp-section.fp-table{
	height: auto!important;
	display: block;
	min-height: auto!important;
	width: 100%;
	float: left;
	padding: 75px 0!important;
}
.tablica .fp-tableCell{
	width: 100%;
	float: left;
	display: block;
	height: auto!important;
} */
.tablica { padding: 75px 0; }
.par-slider{
    color: #000;
    position: relative;
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 50px 0 50px;
}
.section5{
    background: #ffffff;
    position: relative;
}
.section5 .fp-slidesNav{
    display: none;
}
.owl-slider{
    position: relative;
}
.owl-slider .item{
    text-align: center;
    width: 100%;
    height: 85px;
    display: table;
}
.owl-slider .item img{
    width: auto!important;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
}
.owl-slider.owl-theme .owl-nav{
    position: absolute;
    margin-top: 0;
    width: 100%;
    height: 0;
    top: 26%;
}
.owl-slider.owl-theme .owl-nav .owl-prev{
    background: url(../img/p-left.png);
    width: 17px;
    height: 33px;
    left: -50px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}
.owl-slider.owl-theme .owl-nav .owl-next{
    background: url(../img/p-right.png);
    width: 17px;
    height: 33px;
    right: -50px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

.section6{
    background: #fff;
    /* background: url(../img/sec6-bg.png); */
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    overflow: hidden;
    padding-top: 85px;
}
/* .section6::after{
	content: '';
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	background: url(../img/timur4.jpg);
	width: 661px;
	height: 704px;
	background-size: contain;
	background-repeat: no-repeat;
} */
.timur-img{
    width: 47%;
    float: left;
}
.timur-img img{
    width: 100%;
}
.timur{
    width: 53%;
    float: left;
    box-sizing: border-box;
    padding: 20px 100px;
    color: #515151;
    position: relative;
    z-index: 2;
}
.timur-h{
    width: 100%;
    float: left;
    margin-bottom: 40px;
}
.timur-text{
    width: 100%;
    float: left;
    box-sizing: border-box;
    position: relative;
}
.timur-text::before{
    content: '';
    display: block;
    background: url(../img/birds.png);
    width: 205px;
    height: 179px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    z-index: -1;
    top: -15px;
    left: -100px;
}
.timur-h span{
    font-size: 30px;
    display: block;
    margin-bottom: 25px;
}
.timur-h p{
    font-size: 16px;
}
.timur-text p{
    font-size: 16px;
    line-height: 20px;
}

.ques{
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 0px 0;
}
.ques-accordeon{
    width: 100%;
    float: left;
    margin-top: 20px;
    color: #515151;
}
.acc-every{
    width: 100%;
    float: left;
}
.hidden-timur{
    display: none;
}

.acc-h{
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 20px 0;
    border-bottom: 1px solid #c6c6c6;
    cursor: pointer;
}
.acc-num{
    display: inline-block;
    vertical-align: middle;
    width: 6.5%;
    text-align: center;
    font-size: 18px;
    color: #387c22;
    font-weight: 500;
}
.acc-text{
    width: 83%;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}
.acc-arrow{
    width: 9%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.acc-arrow span{
    display: inline-block;
    vertical-align: middle;
}
.acc-arrow span::after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: url(../img/cc1.png);
    width: 27px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: contain;
}
.acc-arrow.rotate span::after{
    background: url(../img/cc2.png);
}

.acc-body{
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 15px 250px 15px 80px;
    display: none;
}
.acc-body ul {
    width: 100%;
    float: left;
}
.acc-body ul li {
    display: block;
    position: relative;
    margin-bottom: 15px;
}
.acc-body p{
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 18px;
}
.acc-body p a{
    text-decoration: underline;
}
.acc-body ul li p {
    font-size: 14px;
    font-weight: 300;
    box-sizing: border-box;
    padding-left: 25px;
}
.acc-body ul li p::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: #f9b000;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 3px;
}

.acc-every.change .acc-h{
    background: #f3f3f3;
    border-bottom: 1px solid transparent;
}
.acc-every.change .acc-body{
    background: #f3f3f3;
}

.forma-content{
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 5% 60px;
    position: relative;
}
.forma{
    width: 100%;
    height: 100%;
    background: url(../img/fos.png);
    background-position: 0px 0px;
    background-repeat: repeat-x!important;
    background-size: cover!important;
    color: #fff;
    position: relative;
    overflow: hidden;
    display: block!important;
    float: left;
}
.forma .fp-tableCell{
    width: 100%;
    float: left;
    display: block;
}
.forma::after{
    content: '';
    display: block;
    background: url(../img/na4-2.png);
    width: 650px;
    height: 879px;
    position: absolute;
    top: 120px;
    right: 7%;
    background-repeat: no-repeat;
    background-size: contain;
}
.forma-content h2{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 5px;
    text-transform: uppercase;
    line-height: 45px;
}
.forma-content span{
    font-size: 36px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 40px;
    text-transform: uppercase;
    line-height: 45px;
}
.forma-content p{
    font-size: 20px;
    display: block;
    margin-bottom: 40px;
}
.forma-content form{
    max-width: 365px;
    width: 100%;
    float: left;
}

.forma-content input{
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
    background: transparent;
    color: #fff;
    box-sizing: border-box;
    width: 100%;
    float: left;
    display: block;
    padding: 12px 15px;
    margin-bottom: 15px;
}
.forma-content input::placeholder{
    color: #fff;
}
.forma-content button{
    max-width: 130px;
    width: 100%;
    float: left;
    text-align: center;
    color: #fff;
    border: none;
    outline: none;
    border: 1px solid #f9b000;
    background: #f9b000;
    border-radius: 40px;
    box-sizing: border-box;
    padding: 10px 0;
    margin-top: 25px;
    cursor: pointer;
    transition: 0.4s ease;
}
.forma-content button:hover{
    background: #f38200;
    border-color: #f38200;
}

.cities { padding-top: 85px; }
.cities .fp-tableCell { display: block; }

.mob-type-nurtas{
    display: none;
}
.contacts{
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 0px 0 0 0;
}
.map{
    width: 100%;
    float: left;
    /* margin-top: 40px; */
    position: relative;
}
.map iframe{
    width: 100%;
    height: 380px;
    filter: grayscale(100%);
}
#map{
    width: 100%;
    height: 500px;
}
#map .ymaps-2-1-64-ground-pane{
    filter: grayscale(100%);

}
.map-inner{
    width: 340px;
    min-height: 340px;
    display: block;
    top: -435px;
    left: 0;
    position: absolute;
    background: #fff;
    z-index: 10;
    border-radius: 0px;
    box-sizing: border-box;
    padding: 20px 30px;
    font-size: 13px;
}
.map-inner select{
    border: none;
    outline: none;
    border: 1px solid #606060;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 8px 15px;
    min-width: 185px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../img/cc3.png);
    background-position: 95% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    margin-bottom: 28px;
}
.address{
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
.address span{
    line-height: 18px;
}
.call{
    margin-bottom: 15px;
}
.call-center{
    margin-bottom: 15px;
}
.call-center span{
    line-height: 18px;
}
.work span{
    line-height: 18px;
}
.footing{
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 75px 0 10px;
    color: #515151;
}
.foot1{
    width: 50%;
    float: left;
}
.foot2{
    width: 25%;
    float: left;
}
.foot3{
    width: 25%;
    float: left;
}
.foot-logo{
    margin-bottom: 30px;
}
.domen-address{
    margin-bottom: 30px;
}
.domen-address a{
    font-weight: 500;
}
.foot-address span{
    line-height: 18px;
}
.foot2 span{
    font-weight: 500;
    display: block;
    margin-bottom: 20px;
}
.foot2  ul li{
    display: block;
    margin-bottom: 10px;
}
.foot3 span{
    font-weight: 500;
    display: block;
    margin-bottom: 20px;
}
.foot3 ul li{
    display: block;
    margin-bottom: 10px;
}
.footing2{
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 0 0 50px 0;
    font-size: 12px;
}
.ft1{
    width: 50%;
    float: left;
}
.ft2{
    width: 50%;
    float: right;
    text-align: right;
}

#slider-range span{
    cursor: pointer;
}
#slider-range span:focus{
    outline: none;
}
.bond{
    background: #fff!important;
}
.bonds-list:nth-child(1) .b-step::before{
    content: '';
    display: block;
    background: url(../img/w1.png);
    width: 66px;
    height: 66px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: -1;
    top: -35px;
    left: 65px;
}
.bonds-list:nth-child(2) .b-step::before{
    content: '';
    display: block;
    background: url(../img/w2.png);
    width: 74px;
    height: 59px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: -1;
    top: -35px;
    left: 65px;
}
.bonds-list:nth-child(3) .b-step::before{
    content: '';
    display: block;
    background: url(../img/w3.png);
    width: 47px;
    height: 58px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: -1;
    top: -35px;
    left: 75px;
}
.bonds-list:nth-child(4) .b-step::before{
    content: '';
    display: block;
    background: url(../img/w4.png);
    width: 60px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: -1;
    top: -35px;
    left: 75px;
}
.header-relative{
    display: none;
}

.switch{
    display: none;
}

.grab{
    transition: 0.5s ease;
}
@keyframes bounc {
    0% {
        transform: translate(0,0);
    }
    50% {
        transform: translate(0,10px);
    }
    100% {
        transform: translate(0,0);
    }
}

.bounc {
    animation-name: bounc;
}


@keyframes shake2 {
    from, to {
        transform: translate3d(0, 0, 0);
    }

    10% {
        transform: translate3d(-2px, 0, 0);
    }

    20%{
        transform: translate3d(2px, 0, 0);
    }
    30%{
        transform: translate3d(-2px, 0, 0);
    }
    40%{
        transform: translate3d(2px, 0, 0);
    }
    50%{
        transform: translate3d(0, 0, 0);
    }
    100%{
        transform: translate3d(0, 0, 0);
    }
}

.shake2 {
    animation-name: shake2;
}

@keyframes sss {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

.sss {
    animation-name: sss;
}
@keyframes sss2 {
    25% {
        opacity: 0;
    }
    33% {
        opacity: 1;
    }
    66%{
        opacity: .5;
    }
    80% {
        opacity: 1;
    }
}

.sss2 {
    animation-name: sss2;
}

@keyframes sss3 {
    40% {
        opacity: 1;
    }
    70%{
        opacity: 0.5;
    }
    90% {
        opacity: 1;
    }
}

.sss3 {
    animation-name: sss3;
}

.owl-slider .item img{
    filter: grayscale(100%);
    transition: 0.5s ease;
    width: auto!important;
    max-width: 120px;
    height: auto;
}
.owl-slider .item img:hover{
    filter: grayscale(0);
}
.owl-slider .item img.orig{
    display: none;
}
.owl-slider .item:hover img.orig{
    display: inline-block;
}
.owl-slider .item:hover img.gray{
    display: none;
}



@keyframes scaled {
    0% {
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }

}

.scaled {
    animation-name: scaled;
}

.naverh{
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 20;
    display: none;
}


/**/
.zigzag{
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 170px 0 155px;
    margin-bottom: 35px;
}
.zigzag1,
.zigzag2,
.zigzag3,
.zigzag4{
    width: 100%;
    float: left;
    box-sizing: border-box;
    position: relative;
}

.zz1,
.zz3{
    width: 50%;
    float: left;
    text-align: center;
    box-sizing: border-box;
    padding: 30px 100px;
    position: relative;
}

.zz2,
.zz4{
    width: 50%;
    float: right;
    text-align: center;
    box-sizing: border-box;
    padding: 30px 100px;
    position: relative;
}
.zz1::before{
    content: '';
    width: 2px;
    height: 80%;
    display: block;
    position: absolute;
    right: -1px;
    bottom: -25px;
    background: #515151;
}
.zz2::before{
    content: '';
    width: 2px;
    height: 100%;
    display: block;
    position: absolute;
    left: -1px;
    top: 0;
    background: #515151;
}
.zz3::before{
    content: '';
    width: 2px;
    height: 100%;
    display: block;
    position: absolute;
    right: -1px;
    top: 0;
    background: #515151;
}
.zz4::before{
    content: '';
    width: 2px;
    height: 25%;
    display: block;
    position: absolute;
    left: -1px;
    top: 0;
    background: #515151;
}
.zz1::after{
    content: '1';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid #515151;
    display: block;
    position: absolute;
    right: -25px;
    background: #fff;
    font-size: 18px;
    color: #515151;
    font-weight: 500;
    padding: 12px 0;
    top: 15%;
}
.zz2::after{
    content: '2';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid #515151;
    display: block;
    position: absolute;
    left: -25px;
    background: #fff;
    font-size: 18px;
    color: #515151;
    font-weight: 500;
    padding: 12px 0;
    top: 15%;
}
.zz3::after{
    content: '3';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid #515151;
    display: block;
    position: absolute;
    right: -25px;
    background: #fff;
    font-size: 18px;
    color: #515151;
    font-weight: 500;
    padding: 12px 0;
    top: 15%;
}
.zz4::after{
    content: '4';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid #515151;
    display: block;
    position: absolute;
    left: -25px;
    background: #fff;
    font-size: 18px;
    color: #515151;
    font-weight: 500;
    padding: 12px 0;
    top: 15%;
}
.zigzag img{
    display: inline-block;
    text-align: center;
    margin-bottom: 15px;
}
.zigzag .zig-h{
    display: block;
    font-size: 25px;
    font-weight: 500;
    color: #515151;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    margin-bottom: 10px;
    display: none;
}
.zigzag .zig-span{
    /* font-size: 18px;
    display: block;
    color: #515151;
    margin-bottom: 10px; */
    display: block;
    font-size: 25px;
    font-weight: 500;
    color: #515151;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    margin-bottom: 10px;
}
.zigzag .zig-p{
    display: block;
    font-size: 14px;
    color: #515151;
    line-height: 18px;
}

.zigzag-forma{
    width: 100%;
    float: left;
    margin-top: 50px;
}
.zigzag-forma span {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #515151;
    display: block;
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 50px;
}
.zigzag-forma form{
    max-width: 350px;
    width: 100%;
    margin: auto;
}
input:required {
    box-shadow: none;
}
.zigzag-forma input {
    width: 100%;
    float: left;
    border: none;
    -moz-outline: none;
    outline: none;
    border-radius: 0;
    border-bottom: 1px solid #383838;
    font-size: 13px;
    color: #515151;
    background: transparent;
    box-sizing: border-box;
    padding: 10px 0;
    margin-bottom: 15px;
}
.zigzag-forma button {
    border: none;
    outline: none;
    display: block;
    max-width: 155px;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: #fff;
    background: #f9b000;
    border-radius: 40px;
    box-sizing: border-box;
    padding: 14px 0;
    margin: auto;
    cursor: pointer;
    position: relative;
    top: 35px;
    transition: 0.4s ease;
}
.zigzag-forma button:hover {
    background: #f38200;
}
.zigzag-heading {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #515151;
    display: block;
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 45px;
}



.footing ul li a:hover{
    text-decoration: underline;
}
.section5{
    background: #f6f6f6!important;
    padding-top: 150px;
}
.question{
    /* background: #f6f6f6!important; */
    padding: 170px 0 170px;
}

.req-inputs{
    width: 100%;
    height: 0;
    overflow: hidden;
}
.naverh a svg path{
    transition: 0.3s ease;
    fill: #000!important;
}
.naverh a svg:hover path{
    fill: #69b945!important;
}



@keyframes position {
    0% {
        transform: translate(0,0);
    }
    100% {
        transform: translate(100px,0);
    }
}

.position {
    animation-name: position;
}

@keyframes position2 {
    0% {
        transform: translate(0,0);
    }
    100% {
        transform: translate(0,0);
    }
}

.position2 {
    animation-name: position2;
}




#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #387b23;
    z-index: 100500;
    overflow-x: hidden;
}

#page-preloader .spinner {
    width: 50px;
    height: 50px;
    position: absolute;
    background: url('../img/pre.png') no-repeat;
    background-size: cover;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.loader-line-wrap {
    animation: spin 2000ms ease infinite;
    box-sizing: border-box;
    height: 52px;
    left: -25px;
    overflow: hidden;
    position: absolute;
    top: -25px;
    transform-origin: 50% 100%;
    width: 100px;
}
.loader-line {
    border: 10px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.loader-line-wrap .loader-line {
    border-color: #f9b000;
    height: 90px;
    width: 90px;
    top: 7px;
}
@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}


.foot-logo a span::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: url(../svg/logo2.svg);
    width: 151px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


/*smi*/
.smibond{
    background: #f6f6f6;
    display: block!important;
    height: auto!important;
    width: 100%;
    float: left;
    padding: 85px 0 40px;
}
.smibond .fp-tableCell{
    display: block;
    width: 100%;
    float: left;
    height: auto!important;
}
.smi-content{
    width: 100%;
    float: left;
    box-sizing: border-box;
}
.smi-tabs{
    width: 100%;
    float: left;
    margin-top: 40px;
}
/*TABS*/
.tabs_menu2 {
    width: 25%;
    float: left;
    box-sizing: border-box;
}
.tabs_menu2 li {
    display: block;
    cursor: pointer;
    width: 100%;
    float: left;
    position: relative;
    text-transform: uppercase;
    box-sizing: border-box;
    margin-bottom: 45px;
    filter: grayscale(100%);
    transition: 0.3s ease;
}

.tabs_menu2 li:hover{
    filter: grayscale(0%);
}
.tabs_menu2 li.active {
    filter: grayscale(0%);
    cursor: default;
}


.tabs2 {
    width: 75%;
    float: left;
    box-sizing: border-box;
    padding: 0;
}
.tabs2 .info2{
    display:none;
    width: 100%;
    float: left;
}
.tabs2 .info2.active{
    display:block;
    position: relative;
}
.smi-h{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #515151;
    display: block;
    margin-bottom: 50px;
}
.tabs2 p{
    font-size: 14px;
    color: #515151;
    display: block;
    box-sizing: border-box;
    padding-right: 100px;
    line-height: 18px;
}



.prognoz-content{
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 0 150px;
}
.summaries{
    width: 100%;
    float: left;
    margin-top: 20px;
}
.summer1{
    width: 40%;
    float: left;
    text-align: center;
}
.summer2{
    width: 60%;
    float: left;
    text-align: left;
    box-sizing: border-box;
    padding: 0 0 0 100px;
}
.first-sum{
    width: 100%;
    float: left;
    text-align: center;
}
.sum-credit {
    display: block;
    margin-top: 15px;
    position: relative;
    margin-bottom: 30px;
}
.sum-vloj{
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
}
.sum-credit input{
    color: #387b23;
    border: none;
    outline: none;
    background: transparent;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    max-width: 85px;
    width: 100%;
}
.sum-credit span{
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #515151;
}
.start-sum{
    position: absolute;
    left: 30px;
    top: 0;
    font-size: 11px;
    font-weight: 300;
    color: #515151;
}
.end-sum{
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    font-weight: 300;
    color: #515151;
}
.instruc{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    color: #515151;
}
.instruc span{
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}
.instruc span:last-child{
    margin-right: 0;
}
.instruc .my-money::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 34px;
    height: 10px;
    background: #387b23;
    margin-right: 10px;
    margin-top: -1px;
}
.instruc .dollar::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 34px;
    height: 10px;
    background: #f9b000;
    margin-right: 10px;
    margin-top: -1px;
}

.year3-prognoz{
    width: 100%;
    float: left;
}
.year3-prognoz span{
    font-size: 14px;
    font-weight: 500;
    color: #515151;
    display: inline-block;
    vertical-align: middle;
}
.y3p-input{
    display: inline-block;
    vertical-align: middle;
    max-width: 70px;
    border: 1px solid #d1d1d1;
    background: #fff;
    border-radius: 5px;
    margin: 0 0 0 5px;
}
.y3p-input input{
    background: none;
    border: none;
    outline: none;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 5px;
    font-size: 14px;
}
.year3-prognoz p{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}
.year3-prognoz a{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    color: #387b23;
    margin-left: 10px;
}
.remember{
    width: 100%;
    float: left;
    margin-top: 10px;
}
.remember span{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #515151;
}
.remember a{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    text-decoration: underline;
    color: #387b23;
    margin-left: 10px;
}
.mob-smi-img{
    display: none;
    width: 100%;
    float: left;
}

.desc-menu{
    display: flex;
    justify-content: space-around;
    width: 900px;
    position: relative;
    left: 0;
    right: 0;
}
#menu li .lang-changer{
    position: absolute;
    left: -15px;
    top: 0;
}
#menu li .lang-changer li{
    display: block;
    margin-bottom: 10px;
}

.tabs2 p a{
    text-decoration: underline;
}
.smi-desc{
    display: inline-block;
}
.smi-mob{
    display: none;
}




/**/
.owl-slider2 .items img{
    width: auto!important;
    margin: auto;
}
.owl-slider2 .items{
    width: 100%;
    height: 100vh;
    display: table;
    padding-top: 75px!important;
}
#section2{
    padding-top: 0!important;
}
.owl-slider2.owl-theme .owl-nav{
    position: absolute;
    height: 0;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    top: 55%;
}
.owl-slider2.owl-theme .owl-dots{
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: auto;
}
.owl-slider2.owl-theme .owl-nav .owl-prev{
    background: url(../img/arl.png);
    width: 33px;
    height: 24px;
    position: absolute;
    left: 9%;
}
.owl-slider2.owl-theme .owl-nav .owl-next{
    background: url(../img/arr.png);
    width: 33px;
    height: 24px;
    position: absolute;
    right: 9%;
}
.owl-slider2.owl-theme .owl-dots .owl-dot.active span, .owl-slider2.owl-theme .owl-dots .owl-dot:hover span {
    background: #f9b000;
}
.owl-slider2.owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    background: transparent;
    border: 2px solid #f9b000;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
}
