.header.scrolled {
	background: #FFF;
}

.section1 {
	background: #fff;
	padding-bottom: 85px;
	min-height: 875px;
	padding-top: 75px;
}

.main-content {
	background: url('../img/entry-bg2.jpg') center center/cover no-repeat;
	height: 600px;
}

@media screen and (max-width: 767px){
	.main-content {
		padding: 80px 0 !important;
		height: auto;
	}
}

.main-content .wrapper {
	height: 100%;
}

.main-content__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;	
	margin: 0 -15px;
	align-items: center;
	height: 100%;
	flex-wrap: wrap;
}

.main-content__col-1 {
	flex: 0 0 40%;
	max-width: 40%;
	padding: 0 15px;
}

.main-content__col-2 {
	flex: 0 0 60%;
	max-width: 60%;
	padding: 0 15px;
}

@media screen and (max-width: 767px){
	.main-content__col-1 {
		flex: 0 0 100%;
		max-width: 100%;
		padding: 0 15px;
	}

	.main-content__col-2 {
		flex: 0 0 100%;
		max-width: 100%;
		padding: 0 15px;
	}	
}

.main-content__img {
	width: 100%;
	display: block;
}

@media screen and (max-width: 767px){
	.main-content__img {
		width: 70%;
		margin: 0 auto 30px;
	}
}

.main-content__title {
    font-size: 72px;
	font-weight: 500;
    line-height: 1.2;	
	color: #fff;
    text-shadow: 3.178px 6.237px 37.6px rgba(0, 0, 0, 0.33);
	text-transform: uppercase;
}

.main-content__subtitle {
	color: #6cbf54;
	font-weight: 500;
	font-size: 38px;
	line-height: 1.2;
	text-shadow: 3.178px 6.237px 37.6px rgba(0, 0, 0, 0.33);
}

@media screen and (max-width: 767px){
	.main-content__title {
		font-size: 54px;
	}

	.main-content__subtitle {
		font-size: 28px;
	}
}

@media screen and (max-width: 480px){
	.main-content__title {
		font-size: 34px;
	}

	.main-content__subtitle {
		font-size: 22px;
	}
}

.main-titles {
	letter-spacing: -0.5px;
}

.main-title {
	color: #424242;
	font-size: 71px;
	line-height: 1;
	margin-bottom: 30px;
	text-transform: uppercase;
	word-spacing: -5px;
	margin-top: 60px;
	float: left;
}

.main-subtitle {
	color: #FFF;
	font-size: 56.4px;

	line-height: 1;
	word-spacing: -1px;
	float: left;
}

.main-titles img {
	float: right;
	margin-bottom: -60px;
}

.main__license {
	font-size: 19.7px;
	color: #898989;
	line-height: 1;
	margin-top: 5px;
}

.main__foter {
	padding-top: 85px;
}

.mon1 {
	width: 100%;
	padding-left: 0;
	background: #387b23;
	box-sizing: border-box;
	padding: 30px 20px 50px;
	color: #fff;
	height: auto!important;
	margin: 0 auto;
	max-width: 500px;
}

.fancybox-close-small svg {
	stroke: #fff;
}

.main__btn {
	font-size: 19px;
	padding: 0 40px;
	height: 50px;
	border: none;
	cursor: pointer;
	color: #fff;
	border-radius: 50px;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	margin-right: 30px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.main__btn:focus {
	outline: 0;
}

.main__btn:hover {
	-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

.btn_color_green {
	background: #4b950d;
}

.btn_color_green_light {
	background: #9fc428;
}

.col-6 {
	width: 50%;
	float: left;
}

.main__footer {
	margin-top: 80px;
}

.rc2::after {
	content: '';
	position: static;
	background: url('../img/main-shield.png') top center/contain no-repeat;
	width: 280px;
	height: 350px;
	margin: 0 auto;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.art {
	background: #fff url('../img/art-bg.jpg') center center/cover no-repeat;
	padding: 50px 20px;
}

.art__content {
	margin-top: 30px;
}

.art-title {
	color: #424242;
	font-size: 59.5px;
	line-height: 1;
	margin: 25px 0;
	font-family: Arial;
	font-weight: bold;
	text-transform: uppercase;
	/* word-spacing: -5px; */
	color: #8bb63c;
}

.art-thintitle {
	font-size: 20px;
	font-family: Arial;
	color: #fff;
	font-weight: 400;
}

.art__more {
	margin-top: 30px;
	color: #8bb63c;
	display: inline-block;
	border-bottom: 1px solid #8bb63c;
	font-family: Arial;
	font-size: 20px;
}

.art__form-title {
	font-size: 30px;
	font-family: Arial;
	font-weight: bold;
	margin-bottom: 40px;
	color: #FFF;
	text-align: center;
}

.art__form {
	max-width: 470px;
	border: 3px solid #fff;
	padding: 40px 50px 20px;
	margin-left: auto;
}

.art__form input {
	float: none;
	margin-bottom: 20px;
}

.mons-form .art__btn {
	height: 47px;
	max-width: 161px;
	margin: 50px auto 0;
	border-radius: 50px;
	color: #fff;
	display: block;
	border: none;
	background: #8bb63c;
	font-size: 16px;
	cursor: pointer;
	position: static;
}

.mons-form .art__btn:hover {
	background: #8bb63c;
}

.art__btn:focus {
	outline: 0;
}

.art__add {
	font-size: 20px;
	padding: 0 20px;
	color: #4b950d;
}

.mons-form button {
	margin: auto;
	top: 20px;
}

.bond-pop-up {
	max-width: 700px;
	font-size: 18px;
}

@media screen and (max-width: 1025px){
	.section1 {
		height: auto;
		min-height: 0;
	}

	.main-content {
		padding-left: 20px;
	}

	.main-title {
		font-size: 71.6px;
	}

	.main-subtitle {
		font-size: 45.4px;
	}

	.main-titles img {
		max-width: 360px;
		padding-right: 10px;
	}

	.main__footer .col-6 {
		width: 100%;
		float: none;
		text-align: center;
	}

	.rc1,
	.rc2 {
		width: 50%;
	}

	.art-title {
		font-size: 44.5px;
	}

	.md-no-br br {
		display: none;
	}

}

@media (max-width: 892px) {
	.main-content {
		padding: 25px 20px 0;
		text-align: center;
	}

	.main-titles {
		margin-bottom: 0;
	}

	.main-title {
		margin-top: 25px;
		float: none;
	}

	.main-subtitle {
		float: none;
		color: #424241;
		position: relative;
		top: 190px;
	}

	.main-titles img {
		float: none;
		max-width: 90%;
		margin-bottom: -160px;
		padding-right: 0;
	}

	.main__footer {
		margin-top: 40px;
	}

	.main__btn {
		margin: auto;
	}

	.main__license,
	.go-bottom {
		display: none;
	}

	.art-title {
		font-size: 37.6px;
	}

}


@media (max-width: 767px) {
	.main-title {
		font-size: 51.6px;
	}

	.main-subtitle {
		font-size: 30.4px;
	}

	.rc1, .rc2 {
		width: 100%;
	}

	.rc2 {
		min-height: 0;
		margin-top: 50px;
	}

	.section3 {
		padding: 30px 0;
	}

	.zigzag {
		padding: 85px 0 70px;
	}

	.section5 {
		padding-top: 30px;
	}

	.about-content {
		margin-bottom: 15px;
	}
	
	.art .col-6 {
		width: 100%;
	}

	.art__form {
		margin-right: auto;
		margin-top: 70px;
		padding-left: 35px;
		padding-right: 35px;
	}

	.art {
		background-image: url('../img/art-bg_mobile.jpg');
	}

	.art__form-title {
		font-size: 16px;
	}

}

@media (max-width: 400px) {
	.art-title {
		font-size: 30px;
	}
}

.entry {
	background: url("../img/entry-bg2.jpg") center no-repeat;
	background-position: cover;
	height: 800px;
}