@media (max-width: 1025px) and (min-width: 760px) {
    .row{
        padding: 0 20px;
    }

    .naverh{
        display: none;
    }
    .prognoz-content{
        padding: 0;
    }
    .summaries{
        margin-top: 0;
    }
    .summer1{
        width: 100%;
        text-align: left;
    }
    .first-sum{
        text-align: left;
    }
    .ui-widget-content{
        max-width: 100%;
    }
    .sum-vloj{
        margin-bottom: 25px;
    }
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button{
        width: 18px;
        height: 18px;
        top: -8px;
    }
    .sum-credit {
        text-align: center;
        margin-top: 25px;
        margin-bottom: 40px;
    }
    .start-sum{
        left: 0;
        top: -5px;
    }
    .end-sum{
        right: 0;
        top: -5px;
    }
    .tabs_menu2{
        width: 100%;
        display: none;
    }
    .tabs2 .info2{
        display: block;
    }
    .smi-text{
        width: 100%;
        float: left;
        display: none;
        margin-bottom: 15px;
    }
    .smi-tabs{
        margin-top: 0;
    }
    .mob-smi-img::after{
        content: '';
        display: block;
        background: url(../img/cc1.png);
        width: 27px;
        height: 15px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        right: 0;
        top: 40%;
    }
    .mob-smi-img.active::after{
        content: '';
        display: block;
        background: url(../img/cc2.png);
        width: 27px;
        height: 15px;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .tabs2 p{
        padding-right: 0;
    }
    .mob-smi-img{
        display: block;
        box-sizing: border-box;
        padding: 20px 0;
        position: relative;
    }
    .smi-h{
        margin-bottom: 20px;
    }
    .tabs2{
        width: 100%;
    }
    .summer2{
        width: 100%;
        padding: 0;
        margin-bottom: 25px;
    }
    .desc-menu{
        display: none;
    }
    .monsters{
        background: url(../img/mob-bg.png)!important;
        background-size: cover!important;
        background-repeat: no-repeat!important;
        background-position: center!important;
    }
    .timur-img{
        display: none;
    }
    .phone{
        padding-top: 4px;
    }
    .section1{
        padding-top: 0!important;
    }
    .section2{
        padding-top: 0!important;
    }
    .section4{
        padding-top: 0!important;
    }
    .burger span::after{
        display: inline-block;
        vertical-align: middle;
        content: '';
        background: url(../svg/menu.svg);
        width: 29px;
        height: 30px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .burger{
        display: inline-block;
        vertical-align: middle;
        float: right;
        padding-top: 5px;
        margin-left: 15px;
    }
    .logo{
        margin-right: 0;
    }
    .mob-type-form{
        display: none;
    }
    .burger-menu{
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 500;
        background: #fff;
        display: none;
        box-sizing: border-box;
        padding: 15px 20px 40px;
    }
    .burger-logo{
        width: 100%;
        float: left;
        text-align: center;
        margin-bottom: 45px;
    }
    .close span::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        background: url(../svg/cancel.svg);
        width: 23px;
        height: 23px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .burger-logo span::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        background: url(../svg/logo2.svg);
        width: 151px;
        height: 36px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .menu-list{
        width: 100%;
        float: left;
        margin: 0;
        margin-top: 75px;
    }
    #menu{
        text-align: center;
    }
    #menu li{
        display: block;
        margin-right: 0;
        margin-bottom: 25px;
        text-transform: uppercase;
        font-size: 18px;
    }
    .header-row{
        height: 65px;
    }
    .header{
        background: #fff;
        -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
    }
    .logo a span::before{
        background: url(../svg/logo2.svg);
        width: 150px;
    }
    .phone a span::before{
        content: '';
        background: url('../svg/smartphone-call.svg') no-repeat;
        width: 26px;
        height: 36px;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 0px;
        background-position: center;
        top: -3px;
    }
    .header-relative{
        width: 100%;
        float: left;
        height: 65px;
        display: block;
    }
    .section1-helper{
        display: block;
        width: 100%;
        float: left;
        box-sizing: border-box;
    }
    .section1{
        background: none;
        overflow: hidden;
        z-index: 1;
        height: auto!important;
    }
    .monsters{
        height: calc(100vh - 65px);
        width: 100%;
        background: url(../img/bg1.png);
        background-position: center;
        float: left;
        position: relative;
        box-sizing: border-box;
        padding-top: 10%;
    }
    .row1{
        padding: 0;
    }
    .row2{
        width: 100%;
        float: left;
        box-sizing: border-box;
        padding: 0 15px;
    }
    .forma-content form{
        max-width: 100%;
    }
    .effect-h{
        position: absolute;
        top: 100px;
        z-index: 5;
        padding-left: 0;
        text-align: center;
    }
    .effect-h img{
        max-height: 60px;
        height: 100%;
        width: auto;
        display: inline-block;
        max-width: 205px
    }
    .hide-lee{
        height: 0px;
    }
    .fp-slides{
        overflow: visible;
    }
    .fp-section.fp-table, .fp-slide.fp-table {
        display: block;
        width: 100%;
        float: left;
        position: relative;
        height: auto!important;
    }
    .section{
        width: 100%;
        float: left;
        display: block!important;
        height: auto!important;
    }
    .fp-tableCell{
        width: 100%;
        float: left;
        display: block;
    }
    .fp-responsive #mySection,
    .fp-responsive #mySection .fp-slide,
    .fp-responsive #mySection .fp-tableCell{
        height: auto !important;
        display: block;
        width: 100%;
        float: left;
    }
    .section, .slide{
        height: auto !important;
    }
    .mon1{
        width: 100%;
        padding-left: 0;
        background: #387b23;
        box-sizing: border-box;
        padding: 30px 20px 50px;
        color: #fff;
        height: auto!important;
    }
    .sec3-2{
        padding: 0;
    }
    .to-next{
        display: none;
        bottom: 20px;
    }
    .mon2{
        width: 50%;
    }
    .mon3{
        width: 50%;
    }
    .nurtas img {
        max-width: 250px;
        width: 100%;
        position: relative;
        top: 130px;
        left: 25px;
    }
    .close{
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .grab{
        display: none;
    }

    .type1-desc img{
        max-width: 100px;
        width: 100%;
    }
    .type2-desc img{
        max-width: 70px;
        width: 100%;
    }
    .type3-desc img{
        max-width: 100px;
    }
    .type1-img img{
        max-height: 250px;
        width: auto;
        height: 100%;
        max-width: 150px
    }

    .zz1,
    .zz2,
    .zz3,
    .zz4{
        width: 100%;
        float: left;
        text-align: left;
        box-sizing: border-box;
        padding: 30px 0px 60px 50px;
        position: relative;
    }
    .zigzag .zig-h{
        display: none;
    }
    .zigzag .zig-span {
        display: block;
        font-size: 22px;
        /* font-family: 'GothamProBold'; */
        font-family: 'ProximaNovaBold', arial, sans-serif;
        color: #515151;
        text-transform: uppercase;
        position: relative;
        z-index: 2;
        margin-bottom: 10px;
    }
    .zz1::before{
        content: '';
        width: 2px;
        height: 80%;
        display: block;
        position: absolute;
        left: 10px;
        bottom: 0px;
        background: #515151;
    }
    .zz2::before{
        content: '';
        width: 2px;
        height: 100%;
        display: block;
        position: absolute;
        left: 10px;
        top: 0;
        background: #515151;
    }
    .zz3::before{
        content: '';
        width: 2px;
        height: 100%;
        display: block;
        position: absolute;
        left: 10px;
        top: 0;
        background: #515151;
    }
    .zz4::before{
        content: '';
        width: 2px;
        height: 25%;
        display: block;
        position: absolute;
        left: 10px;
        top: 0;
        background: #515151;
    }

    .zz1::after{
        content: '1';
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-sizing: border-box;
        border: 2px solid #515151;
        display: block;
        position: absolute;
        left: -15px;
        background: #fff;
        font-size: 18px;
        color: #515151;
        font-family: 'ProximaNovaMedium', arial, sans-serif;
        padding: 12px 0;
        top: 10%;
        text-align: center;
    }
    .zz2::after{
        content: '2';
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-sizing: border-box;
        border: 2px solid #515151;
        display: block;
        position: absolute;
        left: -15px;
        background: #fff;
        font-size: 18px;
        color: #515151;
        /* font-family: 'GothamProMedium'; */
        font-family: 'ProximaNovaMedium', arial, sans-serif;
        padding: 12px 0;
        top: 15%;
        text-align: center;
    }
    .zz3::after{
        content: '3';
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-sizing: border-box;
        border: 2px solid #515151;
        display: block;
        position: absolute;
        left: -15px;
        background: #fff;
        font-size: 18px;
        color: #515151;
        /* font-family: 'GothamProMedium'; */
        font-family: 'ProximaNovaMedium', arial, sans-serif;
        padding: 12px 0;
        top: 13%;
        text-align: center;
    }
    .zz4::after{
        content: '4';
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-sizing: border-box;
        border: 2px solid #515151;
        display: block;
        position: absolute;
        left: -15px;
        background: #fff;
        font-size: 18px;
        color: #515151;
        /* font-family: 'GothamProMedium'; */
        font-family: 'ProximaNovaMedium', arial, sans-serif;
        padding: 12px 0;
        top: 12%;
        text-align: center;
    }
    .zigzag-forma{
        margin-bottom: 50px;
    }
    /* 	.zigzag-forma form{
            max-width: 100%;
        } */
    .zigzag-heading{
        margin-bottom: 30px;
    }

    .type2-img img{
        max-height: 250px;
        width: auto;
        height: 100%;
        max-width: 95px;
    }
    .type3-img img{
        max-height: 180px;
        width: auto;
        height: 100%;
        max-width: 135px;
    }
    .type1 {
        position: absolute;
        top: 150px;
        right: -20px;
    }
    .section4::after{
        content: none;
        display: none;
    }
    .type1-desc {
        position: absolute;
        top: -50px;
        left: 5px;
    }
    .mobile-map{
        width: 100%;
        float: left;
        margin-top: 30px;
    }
    .footing{
        padding: 40px 0 20px;
    }
    .map{
        margin-top: 0;
    }
    .type2 {
        position: absolute;
        top: 175px;
        left: 55px;
    }
    .type2-desc {
        position: absolute;
        top: -35px;
        left: 0px;
    }
    .type3 {
        position: absolute;
        top: 270px;
        left: 75px;
    }
    .section2{
        min-height: auto;
        box-sizing: border-box;
        display: block;
        width: 100%;
        float: left;
        overflow: hidden;
    }
    .type3-desc {
        position: absolute;
        top: 130px;
        left: 40px;
    }
    .mons-form {
        max-width: 100%;
        width: 100%;
        float: left;
    }
    .percent{
        margin-bottom: 40px;
    }
    .per-text{
        margin-bottom: 40px;
    }
    .mons-form span{
        text-align: center;
    }
    .mons-form input{
        line-height: 35px;
        margin-bottom: 15px;
        padding: 0;
        font-family: 'ProximaNovaRegular', arial, sans-serif;
    }
    .zigzag-forma input{
        padding: 0;
        line-height: 35px;
        font-family: 'ProximaNovaRegular', arial, sans-serif;
    }
    .forma-content input{
        line-height: 35px;
        padding: 0;
        font-family: 'ProximaNovaRegular', arial, sans-serif;
    }
    .mons-form button {
        /* border: none; */
        outline: none;
        display: block;
        max-width: 155px;
        width: 100%;
        text-align: center;
        font-size: 13px;
        color: #fff;
        background: #f9b000;
        border-radius: 40px;
        box-sizing: border-box;
        /* padding: 14px 0; */
        margin: auto;
        cursor: pointer;
        position: relative;
        top: 25px;
        transition: 0.4s ease;
        line-height: 35px;
        height: 35px;
        padding: 0;
    }
    .slide{
        width: 100%;
        box-sizing: border-box;
        padding: 20px 0 0px;
        position: relative;
        height: 100vh!important;
    }
    .section2 .fp-slidesNav.bottom{
        display: none;
    }
    .person-text{
        width: 100%;
        float: left;
        position: relative;
        top: 25px;
        margin-right: 0;
    }
    .person1::before{
        width: 300px;
        background-repeat: no-repeat;
        background-size: contain;
        left: 0;
        right: 0;
        margin: auto;
        z-index: -1;
        top: -250px;
    }
    .person3::before{
        width: 200px;
        background-repeat: no-repeat;
        background-size: contain;
        left: 0;
        right: 0;
        margin: auto;
        z-index: -1;
        top: -450px;
        height: 365px
    }

    .person2::before{
        width: 230px;
        background-repeat: no-repeat;
        background-size: contain;
        left: 0;
        right: 0;
        margin: auto;
        z-index: -1;
        top: -300px;
    }
    .owl-slider2.owl-theme .owl-nav{
        top: 50%;
    }
    .owl-slider2.owl-theme .owl-nav .owl-prev{
        left: 5%;
    }
    .owl-slider2.owl-theme .owl-nav .owl-next{
        right: 5%;
    }
    .text-black{
        padding: 15px 20px;
        font-size: 16px!important;
    }
    .text-orange{
        padding: 15px 20px;
        font-size: 14px;
    }
    .colored-text{
        margin-top: 0;
        width: 100%;
        position: relative;
        top: 10vh;
    }
    .section2 .fp-controlArrow{
        margin-top: 0;
    }
    .fp-controlArrow{
        top: 45%;
    }
    .other-person img{
        max-height: 40px;
    }
    .other-person{
        top: 45%;
        display: none;
    }
    .section2 .fp-controlArrow.fp-next{
        right: 20px;
    }
    .section2 .fp-controlArrow.fp-prev{
        left: 20px;
    }
    .hidden-timur{
        display: block;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: url(../img/lico.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: auto;
        margin-bottom: 50px;
    }
    .section6::after{
        display: none;
    }
    .timur-h span{
        margin-bottom: 10px;
    }
    .timur-h{
        text-align: center;
        margin-bottom: 30px;
    }
    .sec3-1{
        width: 100%;
        float: left;
        box-sizing: border-box;
        padding-bottom: 30px;
    }
    .rewenie-h{
        margin-bottom: 35px;
    }
    .rewenie-content{
        padding: 0;
    }
    .rc1 {
        width: 100%;
        float: left;
    }
    .rc2 {
        width: 100%;
        float: left;
        min-height: 490px;
        position: relative;
        margin-top: 0px;
    }
    .rc2::after{
        width: 250px;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        top: 60px;
        transform: scale(1);
        left: 0;
        margin: auto;
    }
    .about-text p {
        font-size: 14px;
        line-height: 18px;
    }
    .rc-podrobno{
        right: 0;
        left: 0;
        margin: auto;
    }
    .al-inner p {
        font-size: 14px;
        color: #515151;
        line-height: 18px;
    }
    .sccc{
        overflow: hidden;
    }
    .invest-scroll-area{
        padding: 50px 0 0 0;
        box-sizing: border-box;
        overflow: visible;
    }
    .invest {
        width: 100%;
        float: left;
    }
    .bonds-list {
        width: 100%;
        float: left;
        margin-right: 0;
        margin-bottom: 80px;
    }
    .invest-form {
        width: 100%;
        float: left;
        box-sizing: border-box;
        padding: 0 0px;
        position: relative;
        top: 0;
        margin-bottom: 50px;
    }
    .timur-text::before{
        left: 0;
    }
    #slider-range{
        margin-bottom: 50px;
    }
    .thank{
        padding: 0;
    }
    .thank1{
        width: 100%;
        margin-bottom: 45px;
    }
    .thank2{
        width: 100%;
    }
    .list-ul li p {
        box-sizing: border-box;
        padding-left: 40px;
        font-size: 14px;
        line-height: 18px;
        /* font-family: 'GothamPro'; */
        font-family: 'ProximaNovaRegular', arial, sans-serif;
    }
    .thank2::after{
        position: relative;
        width: 250px;
        top: initial;
        bottom: -175px;
        height: 500px;
        margin: auto;
        left: 0;
        right: 0;
    }
    .push{
        display: block;
        padding-left: 0;
        padding: 27px 0 0 0;
    }
    .push a{
        max-width: auto;
        background: transparent;
        padding: 0;
        border-radius: 0;
        text-align: left;
        margin-bottom: 50px;
    }
    .push span {
        font-size: 30px;
        text-transform: uppercase;
        display: block;
        margin-bottom: 10px;
        text-align: center;
    }
    .push p {
        font-size: 20px;
        display: block;
        margin-bottom: 0;
        text-align: center;
    }
    .tabs_menu li{
        font-size: 10px;
    }
    .about{
        padding: 45px 0;
    }
    .al-inner {
        width: 100%;
        float: left;
        padding-right: 0;
        box-sizing: border-box;
        margin-bottom: 35px;
    }
    .al-img{
        width: 20%;
        display: inline-block;
        vertical-align: middle;
        min-height: auto;
        margin-bottom: 0;
    }
    .al-img img{
        max-width: 50px;
    }
    .al-inner p{
        display: inline-block;
        vertical-align: middle;
        width: 79%;
    }
    .map-inner select{
        width: 100%;
        padding: 15px;
    }
    .partners{
        padding: 0;
    }
    .owl-slider.owl-theme .owl-nav .owl-prev{
        left: -10px;
    }
    .owl-slider.owl-theme .owl-nav .owl-next{
        right: -10px;
    }
    .timur {
        width: 100%;
        float: left;
        box-sizing: border-box;
        padding: 40px 0px 0 0;
        color: #515151;
        position: relative;
        z-index: 2;
    }
    .section6::after{
        position: relative;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        top: 50px;
        height: 400px;
    }
    .timur-text p{
        font-size: 14px;
    }
    .acc-num{
        width: 5%;
        vertical-align: top;
    }
    .acc-arrow{
        vertical-align: top;
    }
    .acc-text{
        width: 80%;
        font-size: 14px;
    }
    .acc-body{
        padding: 15px 15px;
    }
    .ques-accordeon{
        margin-top: 30px;
    }
    .forma-content{
        padding: 50px 0 0 0;
    }
    .forma-content h2 {
        font-size: 26px;
        margin-bottom: 20px;
    }
    .forma-content span {
        font-size: 24px;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 45px;
        text-transform: uppercase;
        line-height: 35px;
    }
    .forma{
        min-height: 600px;
    }
    .forma::after{
        content: none;
        display: none;
        position: relative;
        top: 0;
        width: 400px;
        height: 400px;
        margin: auto;
        text-align: center;
        display: block;
        left: 0;
        right: 0;
        background-position: center;
    }
    .mob-type-nurtas{
        display: none;
        width: 100%;
        float: left;
        max-height: 350px;
        height: 100%;
        text-align: center;
    }
    .mob-type-nurtas img{
        width: 100%;
        max-width: 650px;
        margin: auto;
    }
    .mob-type-form{
        width: 100%;
        float: left;
        margin-bottom: 50px;
    }
    .map-inner {
        width: 100%;
        min-height: auto;
        display: block;
        top: 0;
        left: 0;
        position: relative;
        background: #fff;
        border-radius: 0px;
        box-sizing: border-box;
        padding: 20px 0px;
        font-size: 13px;
        border-bottom: 1px solid #c6c6c6;
    }
    .map iframe {
        width: 100%;
        height: 340px;
    }
    #map{
        width: 100%;
        height: 340px;
    }
    .foot1{
        width: 100%;
        text-align: center;
        margin-bottom: 35px;
    }
    .foot2{
        width: 100%;
        text-align: center;
        margin-bottom: 35px;
    }
    .foot3{
        width: 100%;
        text-align: center;
        margin-bottom: 35px;
    }
    .footing2{
        text-align: center;
    }
    .ft1{
        width: 100%;
    }
    .section4{
        background: none;
    }
    .sec3-2-content{
        padding: 0;
    }
    .switch{
        display: block;
        width: 100%;
        float: left;
        text-align: center;
        font-size: 11px;
        text-transform: uppercase;
    }
    .switch .one{
        width: 50%;
        float: left;
        box-sizing: border-box;
        border: 1px solid #397b23;
        background: transparent;
        padding: 25px 0;
    }
    .switch .one.active{
        background: #397b23;
        color: #fff;
    }
    .switch .two{
        width: 50%;
        float: left;
        box-sizing: border-box;
        border: 1px solid #f38200;
        padding: 25px 0;
        background: transparent;
    }
    .switch .two.active{
        background: #f38200;
        color: #fff;
    }
    .list2{
        width: 100%;
        padding-left: 0;
        padding: 40px 15px;
        background: url(../img/mob-yellow.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: none;
        /* min-height: 510px; */
    }
    .zigzag{
        margin-bottom: 0;
    }
    .list2.active,
    .list1.active{
        display: block;
    }
    .list1{
        width: 100%;
        background: url(../img/mob-green.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        padding: 40px 15px;
        display: none;
        /* min-height: 510px; */
    }
    .list-head{
        display: block;
        margin-bottom: 45px;
    }
    .spy-words {
        /* margin-left: -30px; */
        margin-top: 65px;
        position: relative;
        z-index: 10;
        transform: scale(0.8);
    }
    .timur-text{
        padding: 0 0px;
        margin-bottom: 40px;
    }
    #slider-range{
        display: none;
    }
    .shines {
        display: block;
        max-width: 250px;
        width: 100%;
        top: 50%;
        left: 40%;
        height: 100%;
    }
    .shines img{
        width: 100%;
    }
    .shine1 {
        position: absolute;
        top: -30px;
        left: 10px;
        width: 700px;
    }
    .shine2 {
        position: absolute;
        top: -30px;
        left: 10px;
        width: 700px;
    }
    .shine3 {
        position: absolute;
        top: -30px;
        left: 10px;
        width: 700px;
    }
    .section3 {
        padding-bottom: 0;
    }
}


@media only screen and (max-width: 400px) {
    .section6::after{
        height: 385px;
    }
    .spy-words {
        margin-left: -60px;
        margin-top: 5px;
        position: relative;
        z-index: 10;
        transform: scale(0.6);
    }
    .text-black{
        font-size: 12px!important;
        padding: 15px 15px;
    }
    .text-orange{
        font-size: 10px!important;
        padding: 15px 15px;
    }
    .type1-desc img{
        max-width: 70px;
        width: 100%;
    }
    .type2-desc img{
        max-width: 50px;
        width: 100%;
    }
    .type3-desc img{
        max-width: 70px;
    }
    .type1-img img{
        max-height: 200px;
        width: auto;
        height: 100%;
    }
    .type2-img img{
        max-height: 200px;
        width: auto;
        height: 100%;
    }
    .type3-img img{
        max-height: 130px;
        width: auto;
        height: 100%;
    }
    .type1 {
        position: absolute;
        top: 160px;
        right: -20px;
    }
    .type1-desc {
        position: absolute;
        top: -40px;
        left: 5px;
    }
    .type2 {
        position: absolute;
        top: 175px;
        left: 20px;
    }
    .type2-desc {
        position: absolute;
        top: -15px;
        left: 0px;
    }
    .type3 {
        position: absolute;
        top: 250px;
        left: 30px;
    }
    .section2{
        min-height: auto;
        box-sizing: border-box;
        display: block;
        width: 100%;
        float: left;
    }
    .type3-desc {
        position: absolute;
        top: 130px;
        left: 40px;
    }

    .person1::before{
        width: 250px;
        background-repeat: no-repeat;
        background-size: contain;
        left: 0;
        right: 0;
        margin: auto;
        height: 400px;
        z-index: -1;
        top: 50px;
    }
    .person3::before{
        width: 150px;
        background-repeat: no-repeat;
        background-size: contain;
        left: 0;
        right: 0;
        margin: auto;
        height: 400px;
        z-index: -1;
        top: 300px;
    }
    .person2::before{
        width: 180px;
        background-repeat: no-repeat;
        background-size: contain;
        left: 0;
        right: 0;
        margin: auto;
        height: 400px;
        z-index: -1;
        top: 50px;
    }
    .percent p{
        font-size: 26px;
    }
    .percent span{
        font-size: 60px;
    }
    .section2 {
        min-height: 100vh!important;
        overflow: hidden;
    }

    .shines {
        display: block;
        max-width: 150px;
        width: 100%;
    }
    .shines img{
    }
    .shine1 {
        position: absolute;
        top: -75px;
        left: -50px;
    }
    .shine2 {
        position: absolute;
        top: -75px;
        left: -50px;
    }
    .shine3 {
        position: absolute;
        top: -75px;
        left: -50px;
    }
    .thank2::after{
        bottom: 0px;

    }
    .shines {
        display: block;
        max-width: 250px;
        width: 100%;
        top: 55%;
        left: 40%;
        height: 100%;
    }
    .shines img{
        width: 100%;
    }
    .shine1 {
        position: absolute;
        top: -30px;
        left: 10px;
        width: 600px;
    }
    .shine2 {
        position: absolute;
        top: -30px;
        left: 10px;
        width: 600px;
    }
    .shine3 {
        position: absolute;
        top: -30px;
        left: 10px;
        width: 600px;
    }

    .about_2 .rc-podrobno {
        margin-left: 0;
    }


}
